/* CSS cho màn hình máy tính */
@media (min-width: 768px) {
    /* Dàn ngang */
    .responsive-container {
      display: block;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }
    
    .responsive-col {
      flex: 1;
    }
    
    .responsive-card {
      width: 300px;
      margin-left: 10px;
    }
  }
  
  /* CSS cho màn hình máy tính */
@media (min-width: 768px) {
    /* Dàn ngang */
    .responsive-container {
     
      flex-direction: row;
    }
    
    .responsive-cart {
      flex: 1;
    }
    
    .responsive-payment {
      flex: 1;
    }
    .responsive-row{
        display: flex;
    }
    .responsive-col1{
      flex: 1;
    }
    .responsive-col1{
      flex: 2;
    }
  }
  
  /* CSS cho điện thoại di động */
  @media (max-width: 767px) {
    /* Dàn dọc */
    .responsive-container {
      flex-direction: column;
      align-items: center;
    }
    
    .responsive-cart {
      width: 100%;
    }
    
    .responsive-payment {
      width: 100%;
      margin-top: 10px;
    }
    .responsive-col{
        flex-direction: column;
        align-items: center;
    }
  }
  