.style-cart {
  border-radius: 8px;
  padding: 24px;
  height: 100%;
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
}
.fle-x {
  box-sizing: border-box;
  display: flex;
  font-size: 14px;
}
.mo-ta {
  box-sizing: border-box;
  width: 75%;
  padding-right: 16px;
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
}
.chi-tiet-cart {
  width: 30%;
  background-color: #ffffff;
  border-radius: 8px;
  margin: 16px 0px 0px;
  padding: 16px;
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
}
.btn-thanh {
  background-color: #1435c3;
  border-radius: 4px;
  color: #ffffff;
  display: inline-flex;
  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
  margin: 16px 0px 0px;
  padding: 11.2px 125px;
  border-color: #ffffff;
}
.title-tiet {
  color: #1b1d29;
  display: -webkit-box;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}
.title-thanh {
  color: #333333;
  font-family: Roboto;
  font-weight: 500;
  line-height: 20.8px;
  margin: 0px 0px 8px;
}
.title-mo {
  color: #1b1d29;
  display: -webkit-box;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}
.khoi-tiet-cha {
}
.table-tiet {
  font-size: 13px;
}
.style-tin-chung {
  color: #82869e;
  display: -webkit-box;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  padding: 12px 16px;
}
.back-gr-tiet {
  background-color: #f6f6f6;
}
/* table */
.xem-tiet {
  color: #1435c3;
  font-size: 13px;
  padding: 24px;
}
.title-modal-cha {
  color: #333333;
  font-size: 14px;
  line-height: 20px;
  padding: 16px;
  text-align: center;
}
.title-modal-con {
  color: #1b1d29;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
}
.image-tiet {
  height: auto;
}
*,
:before,
:after {
  box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  .style-cart {
    border-radius: 8px;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
  }
  .fle-x {
    flex-flow: column;
  }
  .chi-tiet-cart {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 8px;
  }
  .mo-ta {
    width: 100%;
  }
  .khoi-tiet-cha {
    overflow-x: auto;
    max-width: 100%;
  }
  .image-tiet {
    max-width: 250%;
  }
}
.quantity-control {
  display: flex;
  gap: 5;
}
.quantity-button {
  margin: 0 10px 0 10px;
  font-size: 16px;
  cursor: pointer;
}

.cart-description-content {
  margin: 0;
  line-height: 20px;
  font-size: 13px;
  color: rgb(67, 70, 87);
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.cart-description-rom-color,
.cart-description-SKU {
  margin: 0;
  color: rgb(130, 134, 158);
  font-size: 12px;
  line-height: 16px;
}
