* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container-content {
  background: #f1f1f1;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  color: #333;
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
  flex-direction: column;
}

.title {
  margin-top: 20px;
}

.form {
  width: 100%;
  min-height: 100px;
  padding: 32px 24px;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(51, 62, 73, 0.1);
}

.page-group {
  width: 100%;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-self: center;
}

.page1-control {
  width: 45%;
  height: max-content;
  margin-top: 0;
}

.page2-control {
  width: 45%;
  height: 100%;
  margin-top: 0;
}

.form-group {
  display: flex;
  margin-bottom: 16px;
  flex-direction: column;
}

.form-message {
  text-align: left;
  color: red;
  font-weight: bold;
}

.form-label {
  font-weight: 700;
  line-height: 1.8rem;
  font-size: 1rem;
  margin: 0;
  text-align: left;
  color: black;
}

.icon-control {
  font-size: large;
  color: gray;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-out;
}

.form-control {
  height: 40px;
  padding: 8px 12px;
  border: 1px solid #b3b3b3;
  border-radius: 3px;
  outline: none;
  font-size: 1rem;
}

.form-control:hover {
  border-color: #1dbfaf;
}

.form-group.invalid .form-control {
  border-color: #f33a58;
}

.form-group.invalid .form-message {
  color: #f33a58;
}

.form-message {
  font-size: 1rem;
  line-height: 1.6rem;
  padding: 4px 0 0;
}

.form-submit {
  outline: none;
  background-color: #1dbfaf;
  margin-top: 12px;
  padding: 12px 16px;
  font-weight: 600;
  color: #fff;
  border: none;
  width: 100%;
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
}

.form-submit:hover {
  background-color: #1ac7b6;
}

.btn-submit-form {
  width: 300px;
  padding: 10px;
  border: 0.5px solid gray;
  font-size: 14px;
  font-weight: 600;
  transition: all 0.3s ease-out;
  margin-top: 50px;
}

.btn-submit-form:hover {
  background-color: blueviolet;
  color: white;
}

.ck-editor__editable {
  height: 300px; /* Thiết lập chiều cao theo ý muốn */
}

.ant-select-show-search:where(
    .css-dev-only-do-not-override-17a39f8
  ).ant-select-multiple.ant-select-lg
  .ant-select-selector {
  border-radius: 3px;
  border: 1px solid #b3b3b3;
}

.capacity-btn-delete-row{
  border: 1px solid gray;
  padding: 4px 8px;
  border-radius: 5px;
}

.capacity-btn-delete-row:hover{
  color: red;
  border-color: red;
}

.capacity-btn-add-row{
  border: 0.5px solid gray;
  padding: 4px 8px;
  margin-top: 5px;
}

.capacity-btn-add-row:hover{
  color: blue;
}

