
#css-1nz6s82{
  border: 1px solid #E4E5F0;
}

// /* Add a black background color to the top navigation bar */
// .topnav {
//     overflow: hidden;
//     background-color: #e9e9e9;
//   //   position: fixed;
//   // top: 0;
//   // left: 0;
//   // right: 0;
//   }

//   /* Style the links inside the navigation bar */
//   .topnav a {
//     float: left;
//     display: block;
//     color: black;
//     text-align: center;
//     padding: 14px 16px;
//     text-decoration: none;
//     font-size: 17px;

//   }

//   /* Change the color of links on hover */
//   .topnav a:hover {
//     background-color: #ddd;
//     color: black;
//   }

//   /* Style the "active" element to highlight the current page */
//   .topnav a.active {
//     background-color: #2196F3;
//     color: white;
//   }

//   /* Style the search box inside the navigation bar */
//   .topnav input[type=text] {
//     float: right;
//     padding: 6px;
//     border: none;
//     margin-top: 8px;
//     margin-right: 16px;
//     font-size: 17px;
//   }

//   /* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
//   @media screen and (max-width: 600px) {
//     .topnav a, .topnav input[type=text] {
//       float: none;
//       display: block;
//       text-align: left;
//       width: 100%;
//       margin: 0;
//       padding: 14px;
//     }
//     .topnav input[type=text] {
//       border: 1px solid #ccc;
//     }
//   }
.timkiem {
  display: flex;
  align-items: center;
  max-width: 60%;
  margin: 0 auto;
}

.custom-timkiem {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Định nghĩa màu mới cho nút tìm kiếm */
.ant-btn-pr {
  background-color: #ff583300;
  /* Đổi màu nền của nút */
  border: 1px solid #ccc;
  color: #fff;
  /* Đổi màu chữ của nút */

}

/* Đổi màu nền nút khi di chuột qua */
.ant-btn-pr:hover {
  background-color: rgb(174, 105, 221);
  /* Màu nền mới khi di chuột qua */
  border-color: rgb(174, 105, 221);
  /* Màu đường viền mới khi di chuột qua */
}

.anticon-search {
  color: rgb(174, 105, 221);
  /* Đổi màu của biểu tượng tìm kiếm */
  width: 100% !important;
}

/* Đổi màu biểu tượng tìm kiếm khi di chuột qua */
.anticon-search:hover {
  color: #46daff;
  /* Màu sắc mới khi di chuột qua biểu tượng tìm kiếm */
}



.custom-search-button:hover {
  background-color: #0056b3;
}

.custom-input-search .ant-input {

  color: #ae69dd;
  border-color: #ae69dd;
}

.custom-input-search .ant-btn-search {
  background-color: #ae69dd;
  border-color: #ae69dd;
  color: #ae69dd;
}

:where(.css-dev-only-do-not-override-17a39f8).ant-input-search>.ant-input-group>.ant-input-group-addon:last-child .ant-input-search-button:not(.ant-btn-primary) {
  color: #ae69dd;
  ;

  border-color: #ae69dd;
}


@media (min-width:768px) {
  .hd-logo {
    display: none;

  }

  .hamburger-menu {
    display: none;
  }

  .danhmuc {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f8f8fc;
    margin-top: 0px;
  }

  .navgation {
    width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .search-container {
    flex: auto;
    display: flex;
    justify-content: center;
    max-width: 60%;

  }

  .avt-user-name-group{
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 13px;
    justify-content: center;
    align-items: start;
  }

  .avt-user{
    // height: 60px;
  }

  .avt-user-name-control{
    max-width: 180px;
    margin: 3px 0 0 0;
    cursor: pointer;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
  }

  :where(.css-dev-only-do-not-override-6j9yrn).ant-layout-header{
    line-height: normal;
  }

  .css-17xgviv {
    height: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background-color: #F5F5F5;
    border: 1px solid #F5F5F5;
    padding: 1px;
    border-radius: var(--search-bar-border-radius, 8px);
    --button-icon-border-radius: var(--search-bar-border-radius, 8px);
    border: 1px solid #eaeaea
  }

  .css-7wh3a0 {
    display: inline-block;
    width: 100%;
  }

  .css-7jjcju {
    display: block;
    width: 100%;
    border-radius: 4px;
    padding: 0.375rem 0.75rem;
    border: 1px solid #e0e0e0;
    min-height: 16px;
    border: 0;
    background-color: transparent;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 100%;
  }

  .css-7jjcju:focus {
    outline: 0;
  }

  .css-7jjcju:-webkit-outer-spin-button,
  .css-7jjcju input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .css-7jjcju[type='number'] {
    -moz-appearance: textfield;
  }

  .css-7kp13n {
    display: inline-block;
  }

  .css-193nd6m {
    cursor: pointer;
    border-radius: 4px;
    overflow: hidden;
    line-height: 1rem;
    padding: .365rem .75rem;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center;
    background-color: #EEEEEE;
    border-color: #EEEEEE;
    color: #212121;
    border-width: 1px;
    border-style: solid;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-decoration: none;
    text-decoration: none;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    position: relative;
    height: 36px;
    width: 36px;
    border-radius: 8px;
    padding: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    border: 0;
    background-color: transparent;
  }

  undefined .css-193nd6m:focus {
    outline: 0;
  }

  .css-1dn5jdn {
    -webkit-mask: url("https://shopfront-cdn.tekoapis.com/static/dc6de02b661eb31c.svg");
    mask: url("https://shopfront-cdn.tekoapis.com/static/dc6de02b661eb31c.svg");
    display: inline-block;
    width: 26px;
    height: 26px;
    background-color: var(--button-icon-color,
        #616161);
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
  }

  .css-1nb0ewh {
    position: absolute;
    background: #fff;
    width: 120%;
    border-radius: 8px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
    padding: 0.5rem 0.8rem;
    z-index: 1000;
    display: none;
  }

  .css-6qpo60 {
    min-width: 0;
    margin-top: 0.5rem;
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .css-ym4rx5 {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.25rem;
    color: #848788;
  }

  .css-ym4rx5:hover {
    color: #1435c3;
  }

  .css-rqjzpt {
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    color: black;
    -webkit-text-decoration: none;
    text-decoration: none;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.25rem;
    color: #848788;
  }


  .css-rqjzpt:hover {
    color: #1435c3;
  }

  .menu-container {
    display: flex;
    justify-content: center;
    /* Căn giữa theo chiều ngang */
    background-color: #1435c3;
    /* Màu nền xanh dương */
    color: #fff;
    /* Màu chữ trên menu */
    padding: 10px;
    /* Khoảng cách giữa nội dung và viền menu */
    text-align: center;
    /* Canh giữa nội dung menu */
  }

  .menu1 {
    display: inline-block;
  }

  .css-1e7ahm9 {
    display: flex;
  }

  .css-1e7ahm9 a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
  }

  .css-1e7ahm9 a:last-child {
    margin-right: 0;
  }
.logo-mobile{
  display: none;
}
}


// ---------------------------------
.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 190px;
}

.input {
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  width: 100%;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #d9e8d8;
  color: #0d0c22;
  box-shadow: 0 0 5px #c1d9bf, 0 0 0 10px #f5f5f5eb;
  transition: .3s ease;
}

.input::placeholder {
  color: #777;
}

.icon {
  position: absolute;
  left: 1rem;
  fill: #777;
  width: 1rem;
  height: 1rem;
}

// -------------------------------------
#menu__toggle {
  display: none;
}

.menu__btn {
  display: flex;
  flex-direction: column;
  width: 40px;
  height: 100%;
  cursor: pointer;
}

.menu__btn span {
  background: rgb(174, 105, 221);
  border-radius: 10px;
  height: 7px;
  margin: 3px 0;
  transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  z-index: 99999;
}

.menu__btn span:nth-of-type(1) {
  width: 50%;
  height: 5px;
}

.menu__btn span:nth-of-type(2) {
  width: 100%;
  height: 5px;
}

.menu__btn span:nth-of-type(3) {
  width: 75%;
  height: 5px;
}

#menu__toggle:checked~.menu__btn span:nth-of-type(1) {
  transform-origin: bottom;
  transform: rotatez(45deg) translate(5px, 0px);
}

#menu__toggle:checked~.menu__btn span:nth-of-type(2) {
  transform-origin: top;
  transform: rotatez(-45deg);
}

#menu__toggle:checked~.menu__btn span:nth-of-type(3) {
  transform-origin: bottom;
  width: 50%;
  transform: translate(17px, -5px) rotatez(45deg);
  // display: none;
}

#menu__toggle:checked~.menu__box {
  left: 0 !important;
}

.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 250px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transition-duration: 0.25s;
  z-index: 9999;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: "roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
  margin-top: 20px;
}

.menu__item:hover {
  background-color: rgb(255 255 255 / 55%);
}

@media (max-width: 768px) {
  .tracuu {
    display: none;
  }

  .thongbao {
    display: none;
  }

  .header {
    padding: 5px;
    height: 50px;

  }

  .logo {
    display: none;
  }

  .danhmuc {
    display: none;
  }

  .avt-user{
    max-width: 200px;
    max-height: 45px;
  }

  .avt-user-name-group{
    display: none;
  }

  .navgation {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .search-container {
    flex: auto;
    display: flex;
    justify-content: center;
    max-width: 100%;

  }

  .hd-logo {
    width: 100%;
    background-color: #f8f8fc;
    display: flex;
    align-items: center;
    padding: 0px 10px 0px 10px;
  }

  .logo-mobile {
    // font-size: 24px;
    width: 100%;
    line-height: 30px;
    // flex: 1;
  }
.logoweb{
  display: none;
}
  .logo-span {
    display: flex;
    justify-content: flex-start;
    width: 50px;
  }

  .user-mobile {
    position: relative;
    width: 40px;
    font-size: 26px;
    line-height: 30px;
    margin: 0 auto;
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }


  .css-17xgviv {
    height: 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background-color: #F5F5F5;
    border: 1px solid #F5F5F5;
    padding: 1px;
    border-radius: var(--search-bar-border-radius, 8px);
    --button-icon-border-radius: var(--search-bar-border-radius, 8px);
    border: 1px solid #eaeaea;
    align-items: center;
    width: 130%;
    flex-direction: row-reverse;
  }

  .user-name{
    display: none;
  }
  .css-7wh3a0 {
    display: inline-block;
    width: 100%;
  }

  .css-7jjcju {
    display: block;
    width: 100%;
    border-radius: 4px;
    padding: 0.375rem 0.75rem;
    border: 1px solid #e0e0e0;
    min-height: 16px;
    border: 0;
    background-color: transparent;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 100%;
  }

  .css-7jjcju:focus {
    outline: 0;
  }

  .css-7jjcju:-webkit-outer-spin-button,
  .css-7jjcju input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .css-7jjcju[type='number'] {
    -moz-appearance: textfield;
  }

  .css-7kp13n {
    display: inline-block;
    height: 50px;
  }

  .css-193nd6m {
    cursor: pointer;
    border-radius: 4px;
    overflow: hidden;
    line-height: 1rem;
    padding: .365rem .75rem;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center;
    background-color: #EEEEEE;
    border-color: #EEEEEE;
    color: #212121;
    border-width: 1px;
    border-style: solid;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-decoration: none;
    text-decoration: none;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    position: relative;
    height: 36px;
    width: 36px;
    border-radius: 8px;
    padding: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    border: 0;
    background-color: transparent;
  }

  undefined .css-193nd6m:focus {
    outline: 0;
  }

  .css-1dn5jdn {
    -webkit-mask: url("https://shopfront-cdn.tekoapis.com/static/dc6de02b661eb31c.svg");
    mask: url("https://shopfront-cdn.tekoapis.com/static/dc6de02b661eb31c.svg");
    display: inline-block;
    width: 26px;
    height: 26px;
    background-color: var(--button-icon-color,
        #616161);
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
  }

  .css-1nb0ewh {
    position: absolute;
    background: #fff;
    width: 120%;
    border-radius: 8px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
    padding: 0.5rem 0.8rem;
    z-index: 1000;
    display: none;
  }

  .css-6qpo60 {
    min-width: 0;
    margin-top: 0.5rem;
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .css-ym4rx5 {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.25rem;
    color: #848788;
  }

  .css-ym4rx5:hover {
    color: #1435c3;
  }

  .css-rqjzpt {
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    color: black;
    -webkit-text-decoration: none;
    text-decoration: none;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.25rem;
    color: #848788;
  }


  .css-rqjzpt:hover {
    color: #1435c3;
  }

  .menu-container {
    display: none;
  }


}


.headers {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

#navbar {
  overflow: hidden;
  background-color: #333;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: #04AA6D;
  color: white;
}

.contents {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky+.contents {
  padding-top: 60px;
}

.notification-description {
  margin: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
}

.notification-title {
  margin: 0;
  font-size: 15px;
}

.nav-container {
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

:where(.css-dev-only-do-not-override-6j9yrn).ant-layout-header{
  padding: 0;
}