@font-face { 
    font-family:'gitbook-content-font';
    font-style:normal;
    font-weight:700;
    font-display:swap;
    src:local("Roboto Bold"), local("Roboto-Bold"), url("https://app.gitbook.com/public/fonts/Roboto/Roboto-Bold.woff2?v=3.21") format("woff2"),
                      url("https://app.gitbook.com/public/fonts/Roboto/Roboto-Bold.woff?v=3.21") format("woff");
  } 
  @font-face { 
    font-family:'gitbook-content-font';
    font-style:italic;
    font-weight:700;
    font-display:swap;
    src:local("Roboto BoldItalic"), local("Roboto-BoldItalic"), url("https://app.gitbook.com/public/fonts/Roboto/Roboto-BoldItalic.woff2?v=3.21") format("woff2"),
                      url("https://app.gitbook.com/public/fonts/Roboto/Roboto-BoldItalic.woff?v=3.21") format("woff");
  } 
  @font-face { 
    font-family:'gitbook-content-font';
    font-style:normal;
    font-weight:800;
    font-display:swap;
    src:local("Roboto Black"), local("Roboto-Black"), url("https://app.gitbook.com/public/fonts/Roboto/Roboto-Black.woff2?v=3.21") format("woff2"),
                      url("https://app.gitbook.com/public/fonts/Roboto/Roboto-Black.woff?v=3.21") format("woff");
  } 
  @font-face { 
    font-family:'gitbook-content-font';
    font-style:italic;
    font-weight:800;
    font-display:swap;
    src:local("Roboto BlackItalic"), local("Roboto-BlackItalic"), url("https://app.gitbook.com/public/fonts/Roboto/Roboto-BlackItalic.woff2?v=3.21") format("woff2"),
                      url("https://app.gitbook.com/public/fonts/Roboto/Roboto-BlackItalic.woff?v=3.21") format("woff");
  } 
  @font-face { 
    font-family:'gitbook-content-font';
    font-style:normal;
    font-weight:500;
    font-display:swap;
    src:local("Roboto Medium"), local("Roboto-Medium"), url("https://app.gitbook.com/public/fonts/Roboto/Roboto-Medium.woff2?v=3.21") format("woff2"),
                      url("https://app.gitbook.com/public/fonts/Roboto/Roboto-Medium.woff?v=3.21") format("woff");
  } 
  @font-face { 
    font-family:'gitbook-content-font';
    font-style:italic;
    font-weight:500;
    font-display:swap;
    src:local("Roboto MediumItalic"), local("Roboto-MediumItalic"), url("https://app.gitbook.com/public/fonts/Roboto/Roboto-MediumItalic.woff2?v=3.21") format("woff2"),
                      url("https://app.gitbook.com/public/fonts/Roboto/Roboto-MediumItalic.woff?v=3.21") format("woff");
  } 
  @font-face { 
    font-family:'gitbook-content-font';
    font-style:normal;
    font-weight:400;
    font-display:swap;
    src:local("Roboto Regular"), local("Roboto-Regular"), url("https://app.gitbook.com/public/fonts/Roboto/Roboto-Regular.woff2?v=3.21") format("woff2"),
                      url("https://app.gitbook.com/public/fonts/Roboto/Roboto-Regular.woff?v=3.21") format("woff");
  } 
  @font-face { 
    font-family:'gitbook-content-font';
    font-style:italic;
    font-weight:400;
    font-display:swap;
    src:local("Roboto Italic"), local("Roboto-Italic"), url("https://app.gitbook.com/public/fonts/Roboto/Roboto-Italic.woff2?v=3.21") format("woff2"),
                      url("https://app.gitbook.com/public/fonts/Roboto/Roboto-Italic.woff?v=3.21") format("woff");
  } 
    body {  
      list-style:none;
    }  
  body { 
  /* CSS Variables that may have been missed get put on body */ 
      --background-color-inactive:  var(--color-background-mid);  
      --background-color-ok:  var(--color-warning-main);  
      --background-color-good:  var(--color-success-main);  
      --background-color-bad:  var(--color-danger-main);  
      --background-color:  var(--background-color-inactive);  
      --background-color:  var(--background-color-bad); 
      --background-color:  var(--background-color-ok); 
      --background-color:  var(--background-color-good); 
  } 
  
  * { 
      box-sizing: border-box;
  } 
  
  :hover { 
      outline: none;
  } 
  
  .view_manYY { 
      display: flex; 
      min-width: 0;
  } 
  
  .column_C3yiR { 
      flex-direction: column;
  } 
  
  .autoHorizontal_dqmM- { 
      margin-left: auto; 
      margin-right: auto;
  } 
  
  .noneVertical_jpmaI { 
      margin-top: var(--spacing-none); 
      margin-bottom: var(--spacing-none);
  } 
  
  .css-175oi2r { 
      align-items: stretch; 
      background-color: rgba(0,0,0,0.00); 
      border: 0 solid black; 
      box-sizing: border-box; 
      display: flex; 
      flex-basis: auto; 
      flex-direction: column; 
      flex-shrink: 0; 
      list-style: none; 
      margin: 0px; 
      min-height: 0px; 
      min-width: 0px; 
      padding: 0px; 
      position: relative; 
      text-decoration: none; 
      z-index: 0;
  } 
  
  .r-16y2uox { 
      flex-grow: 1;
  } 
  
  .r-18u37iz { 
      flex-direction: row;
  } 
  
  .r-1ro0kt6 { 
      flex-basis: 0%;
  } 
  
  .r-1wbh5a2 { 
      flex-shrink: 1;
  } 
  
  .r-13awgt0 { 
      flex: 1;
  } 
  
  *  { 
      pointer-events: auto;
  } 
  
  [data-rnwrdesktop-18u37iz] { 
      flex-direction: row;
  } 
  
  body { 
      overflow-x: clip;
  } 
  
  body { 
      margin: 0;
  } 
  
  body { 
      -webkit-font-smoothing: antialiased; 
      text-rendering: optimizelegibility; 
      width: 100%; 
      min-height: 100vh; 
      user-select: none; 
      outline: none; 
      position: relative;
  } 
  
  body { 
  } 
  
  html { 
      overflow-x: clip;
  } 
  
  html { 
      -ms-text-size-adjust: 100%; 
      -webkit-text-size-adjust: 100%; 
      -webkit-tap-highlight-color: rgba(0,0,0,0);
  } 
  
  html { 
      -webkit-font-smoothing: antialiased; 
      text-rendering: optimizelegibility; 
      width: 100%; 
      min-height: 100vh; 
      user-select: none; 
      outline: none; 
      position: relative;
  } 
  
  html { 
  } 
  
  :root { 
      --custom-theme-color-primary-xxlight: #97a6f4; 
      --custom-theme-color-primary-xlight: #7188f0; 
      --custom-theme-color-primary-light: #274be9; 
      --custom-theme-color-primary-base: #1435C3; 
      --custom-theme-color-primary-dark: #213074; 
      --custom-theme-color-primary-xdark: #121b42; 
      --custom-theme-color-primary-xxdark: #040509;
  } 
  
  :root { 
      --sp-color-text-menu-default: #656973; 
      --sp-color-text-menu-hover: #262930; 
      --sp-color-text-menu-active: #346ddb; 
      --sp-color-bg-menu-default: #ffffff; 
      --sp-color-bg-menu-hover: #f7f7f7; 
      --sp-color-bg-menu-active: #ecf3ff; 
  } 
  
  :root { 
      --color-primary-xxlight: #ecf3ff; 
      --color-primary-xlight: #c2d9ff; 
      --color-primary-light: #91b0f0; 
      --color-primary-base: #346ddb; 
      --color-primary-dark: #2662d7; 
      --color-primary-xdark: #0049d7; 
      --color-primary-xxdark: #00349a; 
      --color-violet-xlight: #dad4ff; 
      --color-violet-base: #735cff; 
      --color-violet-dark: #5f45ff; 
      --color-violet-xdark: #442fc8; 
      --color-scarlet-xlight: #ffcccb; 
      --color-scarlet-base: #d33d3d; 
      --color-scarlet-dark: #cc3131; 
      --color-scarlet-xdark: #b41a1a; 
      --color-fuchsia-xlight: #fbe8f0; 
      --color-fuchsia-base: #e44f89; 
      --color-fuchsia-dark: #db3b79; 
      --color-fuchsia-xdark: #c62c68; 
      --color-orange-xlight: #fdc389; 
      --color-orange-base: #b95e04; 
      --color-orange-dark: #914b05; 
      --color-green-xxlight: #dffff0; 
      --color-green-base: #008847; 
      --color-green-dark: #0c693d; 
      --color-white: #ffffff; 
      --color-backdrop-bg: rgba(27, 30, 33, .77); 
      --color-backdrop-bg-light: rgba(0, 0, 0, .05); 
      --color-backdrop-bg-transparent: rgba(0, 0, 0, 0); 
      --color-dark-mode-grey-scale-dark: #181c1f; 
      --color-light-mode-grey-scale-xxlight: #f5f7f9; 
      --color-light-mode-grey-scale-xlight: #eceff1; 
      --color-light-mode-grey-scale-light: #e3e8ed; 
      --color-light-mode-grey-scale-base: #d3dce4; 
      --color-light-mode-grey-scale-xdark: #454545; 
      --color-light-mode-text-xlight: #8899a8; 
      --color-light-mode-text-light: #5c6975; 
      --color-light-mode-text-base: #3b454e; 
      --color-light-mode-text-dark: #050505; 
      --color-dark-mode-text-base: #eaf2f7; 
      --size-s: 32px; 
      --size-l: 64px; 
      --radius-m: 4px; 
      --radius-l: 6px; 
      --radius-xl: 8px; 
      --spacing-none: 0; 
      --spacing-xs: 4px; 
      --spacing-s: 8px; 
      --spacing-m: 16px; 
      --spacing-l: 24px; 
      --spacing-xl: 40px; 
      --spacing-xxl: 80px; 
      --theme-color-primary-xxlight: var( --custom-theme-color-primary-xxlight, var(--color-primary-xxlight) ); 
      --theme-color-primary-xlight: var( --custom-theme-color-primary-xlight, var(--color-primary-xlight) ); 
      --theme-color-primary-light: var( --custom-theme-color-primary-light, var(--color-primary-light) ); 
      --theme-color-primary-base: var(--custom-theme-color-primary-base, var(--color-primary-base)); 
      --theme-color-primary-dark: var(--custom-theme-color-primary-dark, var(--color-primary-dark)); 
      --theme-color-primary-xdark: var( --custom-theme-color-primary-xdark, var(--color-primary-xdark) ); 
      --theme-color-primary-xxdark: var( --custom-theme-color-primary-xxdark, var(--color-primary-xxdark) );
  } 
  
  :root { 
      --focusring-color: var(--theme-color-primary-dark); 
      --focusring-offset-color: var(--theme-color-primary-base);
  } 
  
  :root { 
      --color-primary-main: var(--theme-color-primary-base); 
      --color-primary-mid: var(--theme-color-primary-xlight); 
      --color-primary-muted: var(--theme-color-primary-xxlight); 
      --color-primary-hover: var(--theme-color-primary-dark); 
      --color-primary-standout: var(--theme-color-primary-xdark); 
      --color-primary-text-inside: var(--color-white); 
      --color-secondary-main: var(--color-white); 
      --color-secondary-muted: var(--color-light-mode-grey-scale-xlight); 
      --color-secondary-hover: var(--color-light-mode-grey-scale-xlight); 
      --color-secondary-standout: var(--color-light-mode-grey-scale-light); 
      --color-secondary-text-inside: var(--color-light-mode-grey-scale-xdark); 
      --color-standout-main: var(--theme-color-primary-base); 
      --color-standout-standout: var(--theme-color-primary-dark); 
      --color-standout-text-inside: var(--color-white); 
      --color-backdrop-transparent: var(--color-backdrop-bg-transparent); 
      --color-backdrop-background: var(--color-backdrop-bg); 
      --color-backdrop-background-light: var(--color-backdrop-bg-light); 
      --color-info-main: var(--color-primary-base); 
      --color-info-muted: var(--color-primary-xxlight); 
      --color-info-hover: var(--color-primary-dark); 
      --color-info-standout: var(--color-primary-xdark); 
      --color-info-text-inside: var(--color-white); 
      --color-success-main: var(--color-green-base); 
      --color-success-muted: var(--color-green-xxlight); 
      --color-success-standout: var(--color-green-dark); 
      --color-success-text-inside: var(--color-white); 
      --color-warning-main: var(--color-orange-base); 
      --color-warning-muted: var(--color-orange-xlight); 
      --color-warning-standout: var(--color-orange-dark); 
      --color-warning-text-inside: var(--color-white); 
      --color-danger-main: var(--color-scarlet-base); 
      --color-danger-muted: var(--color-scarlet-xlight); 
      --color-danger-hover: var(--color-scarlet-dark); 
      --color-danger-standout: var(--color-scarlet-xdark); 
      --color-danger-text-inside: var(--color-white); 
      --color-merge-main: var(--color-violet-base); 
      --color-merge-muted: var(--color-violet-xlight); 
      --color-merge-hover: var(--color-violet-dark); 
      --color-merge-standout: var(--color-violet-xdark); 
      --color-merge-text-inside: var(--color-white); 
      --color-upgrade-main: var(--color-fuchsia-base); 
      --color-upgrade-muted: var(--color-fuchsia-xlight); 
      --color-upgrade-hover: var(--color-fuchsia-dark); 
      --color-upgrade-standout: var(--color-fuchsia-xdark); 
      --color-upgrade-text-inside: var(--color-white); 
      --color-item-hover: var(--color-light-mode-grey-scale-xxlight);
  } 
  
  :root { 
      --color-background-main: var(--color-white); 
      --color-background-mid: var(--color-light-mode-grey-scale-xxlight); 
      --color-background-muted: var(--color-light-mode-grey-scale-xxlight); 
      --color-background-standout: var(--color-light-mode-grey-scale-xlight); 
      --color-background-inverted: var(--color-dark-mode-grey-scale-dark);
  } 
  
  :root { 
      --color-border-main: var(--color-light-mode-grey-scale-base); 
      --color-border-mid: var(--color-light-mode-grey-scale-light); 
      --color-border-muted: var(--color-light-mode-grey-scale-xxlight);
  } 
  
  :root { 
      --color-text-main: var(--color-light-mode-text-base); 
      --color-text-mid: var(--color-light-mode-text-light); 
      --color-text-muted: var(--color-light-mode-text-xlight); 
      --color-text-primary: var(--theme-color-primary-base); 
      --color-text-primary-muted: var(--theme-color-primary-xxlight); 
      --color-text-primary-mid: var(--theme-color-primary-xlight); 
      --color-text-primary-standout: var(--theme-color-primary-xdark); 
      --color-text-primary-text-inside: var(--color-white); 
      --color-text-standout-main: var(--theme-color-primary-base); 
      --color-text-inverted: var(--color-dark-mode-text-base); 
      --color-text-standout: var(--color-light-mode-text-dark);
  } 
  
  :root { 
      --theme-radius-medium: var(--radius-m); 
      --theme-radius-large: var(--radius-l); 
      --theme-radius-xlarge: var(--radius-xl);
  } 
  
  :root { 
      --color-gradient-primary-hover: var(--theme-color-primary-dark), var(--theme-color-primary-xdark); 
      --color-gradient-secondary-hover: var(--color-light-mode-grey-scale-xlight), var(--color-light-mode-grey-scale-light); 
      --color-gradient-merge-hover: var(--color-merge-hover), var(--color-merge-standout); 
      --color-gradient-danger-hover: var(--color-scarlet-dark), var(--color-scarlet-xdark);
  } 
  
  :root { 
      --public-content-desktop-header-height: 80px; 
      --public-content-container-max-width: 1900px; 
      --block-wrapper-max-width: 750px; 
      --page-wrapper-max-width: 1200px; 
      --app-header-height: calc(var(--size-l) + 1px); 
      --app-toolbar-height: calc(var(--size-s) + calc(var(--spacing-xs) * 2) + 1px);
  } 
  
  :root { 
      --theme-overlay-background: var(--color-background-main);
  } 
  
  :root { 
      --color-menuitem-text: var(--sp-color-text-menu-default); 
      --color-menuitem-text-hover: var(--sp-color-text-menu-hover); 
      --color-menuitem-text-active: var(--sp-color-text-menu-active); 
      --color-menuitem-surface: var(--sp-color-bg-menu-default); 
      --color-menuitem-surface-hover: var(--sp-color-bg-menu-hover); 
      --color-menuitem-surface-active: var(--sp-color-bg-menu-active);
  } 
  
  @media (min-width: 1024px){ 
    html:has(.withStickyHeader_HQiM-) { 
      scroll-padding-top: var(--public-content-desktop-header-height);
    } 
  }     
  
  .r-1phboty { 
      border-bottom-style: solid; 
      border-left-style: solid; 
      border-right-style: solid; 
      border-top-style: solid;
  } 
  
  .r-1xc7w19 { 
      border-bottom-color: rgba(0,0,0,1.00); 
      border-left-color: rgba(0,0,0,1.00); 
      border-right-color: rgba(0,0,0,1.00); 
      border-top-color: rgba(0,0,0,1.00);
  } 
  
  .r-1yadl64 { 
      border-bottom-width: 0px; 
      border-left-width: 0px; 
      border-right-width: 0px; 
      border-top-width: 0px;
  } 
  
  .r-6koalj { 
      display: flex;
  } 
  
  .r-crgep1 { 
      margin: 0px;
  } 
  
  .r-t60dpp { 
      padding: 0px;
  } 
  
  .r-1oszu61 { 
      align-items: stretch;
  } 
  
  .r-417010 { 
      z-index: 0;
  } 
  
  .r-bcqeeo { 
      min-width: 0px;
  } 
  
  .r-bnwqim { 
      position: relative;
  } 
  
  .r-deolkf { 
      box-sizing: border-box;
  } 
  
  .r-eqz5dr { 
      flex-direction: column;
  } 
  
  .r-ifefl9 { 
      min-height: 0px;
  } 
  
  *,:before,:after { 
      box-sizing: border-box;
  } 
  
  body button, body [type="button"], body input[type="reset"], body input[type="submit"],[role="button"] ,:-webkit-search-cancel-button,:-webkit-search-decoration,:-webkit-scrollbar-button,:-webkit-file-upload-button,[role^="button"],.cc_pointer,[type="search"]:-webkit-search-cancel-button,a,select,[type="search"]:-webkit-search-decoration,.paper-button,.ytp-progress-bar-container,input[type="submit"],:link,:visited,a > * ,img,.ogdlpmhglpejoiomcodnpjnfgcpmgale_pointer,.ytp-volume-panel,#myogdlpmhglpejoiomcodnpjnfgcpmgale .icon,body .custom-cursor-on-hover { 
  } 
  
  .blockWrapper_8BIg7 { 
      position: relative; 
      flex-direction: row; 
      width: 100%; 
      max-width: var(--block-wrapper-max-width);
  } 
  
  body button, body [type="button"], body input[type="reset"], body input[type="submit"], body [role="button"], ::-webkit-search-cancel-button, ::-webkit-search-decoration, ::-webkit-scrollbar-button, ::-webkit-file-upload-button, [role^="button"], .cc_pointer, [type="search"]::-webkit-search-cancel-button, a, select, [type="search"]::-webkit-search-decoration, .paper-button, .ytp-progress-bar-container, input[type="submit"], :link, :visited, a > *, img, ::-webkit-scrollbar-button, .ogdlpmhglpejoiomcodnpjnfgcpmgale_pointer, ::-webkit-file-upload-button, .ytp-volume-panel, #myogdlpmhglpejoiomcodnpjnfgcpmgale .icon, body .custom-cursor-on-hover { 
  } 
  
  [data-rnwrdesktop-1uwte3a] { 
      padding-bottom: 40px;
  } 
  
  .largeTop_jdaOn { 
      margin-top: var(--spacing-l);
  } 
  
  .largeBottom_v1r32 { 
      margin-bottom: var(--spacing-l);
  } 
  
  .xlargeTop_38ZbM { 
      padding-top: var(--spacing-xl);
  } 
  
  .relative_F68jE { 
      position: relative;
  } 
  
  .row_PhhRi { 
      flex-direction: row;
  } 
  
  .alignCenter_zl3iW { 
      align-items: center;
  } 
  
  .justifySpaceBetween_js4s1 { 
      justify-content: space-between;
  } 
  
  .r-18c69zk { 
      border-bottom-left-radius: 100px; 
      border-bottom-right-radius: 100px; 
      border-top-left-radius: 100px; 
      border-top-right-radius: 100px;
  } 
  
  .r-42olwf { 
      border-bottom-color: rgba(0,0,0,0.00); 
      border-left-color: rgba(0,0,0,0.00); 
      border-right-color: rgba(0,0,0,0.00); 
      border-top-color: rgba(0,0,0,0.00);
  } 
  
  .r-rs99b7 { 
      border-bottom-width: 1px; 
      border-left-width: 1px; 
      border-right-width: 1px; 
      border-top-width: 1px;
  } 
  
  .r-mk0yit { 
      padding-left: 0px; 
      padding-right: 0px;
  } 
  
  .r-1777fci { 
      justify-content: center;
  } 
  
  .r-18kxxzh { 
      flex-grow: 0;
  } 
  
  .r-1aockid { 
      width: 40px;
  } 
  
  .r-1awozwy { 
      align-items: center;
  } 
  
  .r-1bnj018 { 
      color: rgba(92,105,117,1.00);
  } 
  
  .r-1cmwbt1 { 
      gap: 8px;
  } 
  
  .r-1i6wzkk { 
      -moz-transition-property: opacity; 
      -webkit-transition-property: opacity; 
      transition-property: opacity;
  } 
  
  .r-1loqt21 { 
      cursor: pointer;
  } 
  
  .r-1ny4l3l { 
      outline-style: none;
  } 
  
  .r-1otgn73 { 
      touch-action: manipulation;
  } 
  
  .r-eu3ka { 
      height: 40px;
  } 
  
  .r-lrvibr { 
      -moz-user-select: none; 
      -webkit-user-select: none; 
      user-select: none;
  } 
  
  body:not(.dragging) [data-rnwi-1vckr1u-hover-focus]:hover { 
      background-color: rgba(245,247,249,1.00);
  } 
  
  .r-1wzrnnt { 
      margin-top: 16px;
  } 
  
  .r-1peese0 { 
      margin-bottom: 24px;
  } 
  
  .r-1ygmrgt { 
      padding-top: 24px;
  } 
  
  .r-1yv4afn { 
      border-top-color: rgba(227,232,237,1.00);
  } 
  
  .r-5kkj8d { 
      border-top-width: 1px;
  } 
  
  .r-17s6mgv { 
      justify-content: flex-end;
  } 
  
  [data-rnwrdesktop-h3s6tt] { 
      height: 48px;
  } 
  
  .r-h7gdob { 
      color: currentColor;
  } 
  
  .r-190qawg { 
      border-bottom-color: rgba(227,232,237,1.00); 
      border-left-color: rgba(227,232,237,1.00); 
      border-right-color: rgba(227,232,237,1.00); 
      border-top-color: rgba(227,232,237,1.00);
  } 
  
  .r-1udh08x { 
      overflow-x: hidden; 
      overflow-y: hidden;
  } 
  
  .r-nsbfu8 { 
      padding: 16px;
  } 
  
  .r-z2wwpe { 
      border-bottom-left-radius: 4px; 
      border-bottom-right-radius: 4px; 
      border-top-left-radius: 4px; 
      border-top-right-radius: 4px;
  } 
  
  .r-1clhhh9 { 
      -moz-transition-property: all; 
      -webkit-transition-property: all; 
      transition-property: all;
  } 
  
  [data-rnwrdesktop-1kb76zh] { 
      margin-right: 8px;
  } 
  
  body:not(.dragging) [data-rnwi-u529wo-aq1qub-c1zw6o-1khlhp8-1cut0bx-na6qhi--hover]:hover { 
      box-shadow: 0px 12px 13px rgba(0,0,0,0.02); 
      transform: translateY(-2px);
  } 
  
  [data-rnwrdesktop-1jkjb] { 
      margin-left: 8px;
  } 
  
  .r-1wtj0ep { 
      justify-content: space-between;
  } 
  
  h1 { 
      margin: 0;
  } 
  
  .r-1nf4jbm { 
      color: rgba(59,69,78,1.00);
  } 
  
  .r-1xnzce8 { 
      -moz-user-select: text; 
      -webkit-user-select: text; 
      user-select: text;
  } 
  
  [data-rnwrdesktop-gg6oyi-xb2eav-1dn12g7-b88u0q] { 
      font-family: gitbook-content-font,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif; 
      font-size: 40px; 
      font-weight: 700; 
      line-height: 48px;
  } 
  
  .r-88pszg { 
      margin-right: 16px;
  } 
  
  .r-obd0qt { 
      align-items: flex-end;
  } 
  
  .r-1ow6zhx { 
      margin-left: 16px;
  } 
  
  [data-rnwrdesktop-visible] { 
      display: flex;
  } 
  
  .r-1rasi3h { 
      color: rgba(136,153,168,1.00);
  } 
  
  .css-1rynq56 { 
      background-color: rgba(0,0,0,0.00); 
      border: 0 solid black; 
      box-sizing: border-box; 
      color: rgba(0,0,0,1.00); 
      display: inline; 
      font: 14px -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif; 
      list-style: none; 
      margin: 0px; 
      padding: 0px; 
      text-align: inherit; 
      text-decoration: none; 
      white-space: pre-wrap; 
      word-wrap: break-word;
  } 
  
  .r-135wba7 { 
      line-height: 24px;
  } 
  
  .r-1iln25a { 
      word-wrap: normal;
  } 
  
  .r-1udbk01 { 
      text-overflow: ellipsis;
  } 
  
  .r-3s2u2q { 
      white-space: nowrap;
  } 
  
  .r-dnmrzs { 
      max-width: 100%;
  } 
  
  .r-gg6oyi { 
      font-family: gitbook-content-font,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
  } 
  
  .r-majxgm { 
      font-weight: 500;
  } 
  
  .r-ubezar { 
      font-size: 16px;
  } 
  
  body:not(.dragging) [data-rnwi-handle="BaseCard"]:hover [data-rnwibasecard--1loepla-hover-focus] { 
      color: rgba(20,53,195,1.00);
  } 
  
  .r-16dba41 { 
      font-weight: 400;
  } 
  
  .r-1b43r93 { 
      font-size: 14px;
  } 
  
  .r-hbpseb { 
      line-height: 22px;
  } 
  
  .r-14yzgew { 
      line-height: 18px;
  } 
  
  .r-1enofrn { 
      font-size: 12px;
  } 
  
  .css-1qaijid { 
      background-color: rgba(0,0,0,0.00); 
      border: 0 solid black; 
      box-sizing: border-box; 
      color: inherit; 
      display: inline; 
      font: inherit; 
      list-style: none; 
      margin: 0px; 
      padding: 0px; 
      text-align: inherit; 
      text-decoration: none; 
      white-space: inherit; 
      word-wrap: break-word;
  } 
  
  .mediumVertical_-Vaii { 
      padding-top: var(--spacing-m); 
      padding-bottom: var(--spacing-m);
  } 
  
  .smallTop_crzBC { 
      padding-top: var(--spacing-s);
  } 
  
  .smallBottom_BmSGf { 
      padding-bottom: var(--spacing-s);
  } 
  
  .mediumTop_QDiZG { 
      padding-top: var(--spacing-m);
  } 
  
  .mediumBottom_jdYUb { 
      padding-bottom: var(--spacing-m);
  } 
  
  .r-19r33im { 
      letter-spacing: 1.2px;
  } 
  
  .r-1kfrs79 { 
      font-weight: 600;
  } 
  
  .r-tsynxw { 
      text-transform: uppercase;
  } 
  
  .r-1jkjb { 
      margin-left: 8px;
  } 
  
  .iconWrapper_x37cD { 
      display: flex; 
      align-items: center; 
      justify-content: center; 
      --background-color-inactive: var(--color-background-mid); 
      --background-color-ok: var(--color-warning-main); 
      --background-color-good: var(--color-success-main); 
      --background-color-bad: var(--color-danger-main); 
      --background-color: var(--background-color-inactive); 
      background-color: var(--background-color); 
      color: var(--color-text-mid); 
      width: var(--rating-size); 
      height: var(--rating-size); 
      border-radius: var(--rating-size);
  } 
  
  .interactive_B2TwX.bad_pz0f3:hover { 
      --background-color: var(--background-color-bad);
  } 
  
  .interactive_B2TwX.ok_V1sO-:hover { 
      --background-color: var(--background-color-ok);
  } 
  
  .interactive_B2TwX.good_nqe9w:hover { 
      --background-color: var(--background-color-good);
  } 
  
  .r-fdjqy7 { 
      text-align: left;
  } 
  
  .r-1mlwlqe { 
      flex-basis: auto;
  } 
  
  .r-1q142lx { 
      flex-shrink: 0;
  } 
  
  .r-3mtglp { 
      row-gap: 16px;
  } 
  
  .r-zo7nv5 { 
      -webkit-column-gap: 16px; 
      column-gap: 16px;
  } 
  
  .icon_TnMUQ { 
      width: calc(0.75 * var(--rating-size)); 
      height: calc(0.75 * var(--rating-size));
  } 
  
  .r-b88u0q { 
      font-weight: 700;
  } 
  
  .r-36ujnk { 
      font-style: italic;
  } 
  
  .noneTop_aMiQj { 
      padding-top: var(--spacing-none);
  } 
  
  .xsmallBottom_NnBZ6 { 
      padding-bottom: var(--spacing-xs);
  } 
  
  .xsmallTop_ABm9D { 
      padding-top: var(--spacing-xs);
  } 
  
  .noneBottom_ovUyz { 
      padding-bottom: var(--spacing-none);
  } 
  
  .r-q4m81j { 
      text-align: center;
  } 
  
  .r-tskmnb { 
      padding-top: 8px;
  } 
  
  .r-1kb76zh { 
      margin-right: 8px;
  } 
  
  .r-1471scf { 
      display: inline;
  } 
  
  [data-rnwi-handle="link"] [data-rnwilink--1loepla-]  { 
      color: rgba(20,53,195,1.00);
  } 
  
  body:not(.dragging) [data-rnwi-handle="link"]:hover [data-rnwilink--1t4os2m-1ddef8g-hover] { 
      -webkit-text-decoration-line: underline; 
      color: rgba(18,27,66,1.00); 
      text-decoration-line: underline;
  } 
  
  
  /* These were inline style tags. Uses id+class to override almost everything */
  #style-yTRnf.style-yTRnf {  
     transition-duration: 0.15s;  
  }  
  #style-f4wzs.style-f4wzs {  
     outline: none;  
      white-space: pre-wrap;  
      overflow-wrap: break-word;  
  }  
  #style-aaKSO.style-aaKSO {  
     height: 24px;  
  }  
  #style-kLIbP.style-kLIbP {  
     height: 24px;  
  }  
  #style-fvz8m.style-fvz8m {  
     height: 24px;  
  }  
  #style-9Hb2X.style-9Hb2X {  
     height: 24px;  
      width: 16px;  
  }  
  #style-nsTvr.style-nsTvr {  
     max-width: 100%;  
      max-height: 100%;  
  }  
  #style-TsDsA.style-TsDsA {  
     transition-duration: 0.15s;  
  }  
  #style-qlCTH.style-qlCTH {  
     height: 24px;  
      width: 16px;  
  }  
  #style-wQW98.style-wQW98 {  
     height: 24px;  
  }  
  #style-RIH6s.style-RIH6s {  
     transition-duration: 0.15s;  
  }  
  #style-qt3iE.style-qt3iE {  
     height: 24px;  
  }  
  #style-hJXdD.style-hJXdD {  
     height: 24px;  
      width: 16px;  
  }  
  #style-KXRIl.style-KXRIl {  
     height: 24px;  
  }  
  #style-JfVE9.style-JfVE9 {  
     max-width: 100%;  
      max-height: 100%;  
  }  
  #style-Lsyg8.style-Lsyg8 {  
     transition-duration: 0.15s;  
  }  
  #style-V64zx.style-V64zx {  
     height: 24px;  
  }  
  #style-vcFoD.style-vcFoD {  
     max-width: 100%;  
      max-height: 100%;  
  }  
  #style-6Wagw.style-6Wagw {  
     transition-duration: 0.15s;  
  }  
  #style-2vYiK.style-2vYiK {  
     height: 24px;  
  }  
  #style-LUQVH.style-LUQVH {  
     max-width: 100%;  
      max-height: 100%;  
  }  
  #style-wLe7a.style-wLe7a {  
     transition-duration: 0.15s;  
  }  
  #style-ox5sE.style-ox5sE {  
     height: 24px;  
  }  
  #style-Zp4P9.style-Zp4P9 {  
     height: 24px;  
  }  
  #style-k5f25.style-k5f25 {  
     max-width: 100%;  
      max-height: 100%;  
  }  
  #style-UJ2Q7.style-UJ2Q7 {  
     transition-duration: 0.15s;  
  }  
  #style-v2oHn.style-v2oHn {  
     height: 24px;  
  }  
  #style-lIPLb.style-lIPLb {  
     height: 24px;  
  }  
  #style-voJQ3.style-voJQ3 {  
     height: 24px;  
  }  
  #style-rRgOb.style-rRgOb {  
     max-width: 100%;  
      max-height: 100%;  
  }  
  #style-UioMI.style-UioMI {  
     transition-duration: 0.15s;  
  }  
  #style-Og7RC.style-Og7RC {  
     height: 24px;  
  }  
  #style-Hcy2Y.style-Hcy2Y {  
     height: 24px;  
  }  
  #style-nNUS7.style-nNUS7 {  
     height: 24px;  
  }  
  #style-5Xy1K.style-5Xy1K {  
     max-width: 100%;  
      max-height: 100%;  
  }  
  #style-tKJqO.style-tKJqO {  
     transition-duration: 0.15s;  
  }  
  #style-mw2TK.style-mw2TK {  
     height: 24px;  
  }  
  #style-cEOrr.style-cEOrr {  
     max-width: 100%;  
      max-height: 100%;  
  }  
  #style-8wPoy.style-8wPoy {  
     transition-duration: 0.15s;  
  }  
  #style-eNCxn.style-eNCxn {  
     height: 24px;  
  }  
  #style-k5jWk.style-k5jWk {  
     height: 24px;  
  }  
  #style-fjiSS.style-fjiSS {  
     height: 24px;  
  }  
  #style-BaodR.style-BaodR {  
     height: 24px;  
  }  
  #style-RU5SJ.style-RU5SJ {  
     max-width: 100%;  
      max-height: 100%;  
  }  
  #style-z4ADy.style-z4ADy {  
     transition-duration: 0.15s;  
  }  
  #style-87kHA.style-87kHA {  
     height: 24px;  
  }  
  #style-L49Vh.style-L49Vh {  
     height: 24px;  
      width: 16px;  
  }  
  #style-Yc9o5.style-Yc9o5 {  
     height: 24px;  
      width: 16px;  
  }  
  #style-3aWDM.style-3aWDM {  
     height: 24px;  
      width: 16px;  
  }  
  #style-llCVP.style-llCVP {  
     height: 24px;  
      width: 16px;  
  }  
  #style-IMaFz.style-IMaFz {  
     height: 24px;  
  }  
  #style-tPBwq.style-tPBwq {  
     max-width: 100%;  
      max-height: 100%;  
  }  
  #style-ZlEwJ.style-ZlEwJ {  
     transition-duration: 0.15s;  
  }  
  #style-etkbz.style-etkbz {  
     height: 24px;  
  }  
  #style-JxqP5.style-JxqP5 {  
     height: 24px;  
  }  
  #style-6NBaw.style-6NBaw {  
     height: 24px;  
  }  
  #style-nYZT3.style-nYZT3 {  
     height: 24px;  
      width: 16px;  
  }  
  #style-DMt9J.style-DMt9J {  
     max-width: 100%;  
      max-height: 100%;  
  }  
  #style-SoLZS.style-SoLZS {  
     transition-duration: 0.15s;  
  }  
  #style-L3xq9.style-L3xq9 {  
     height: 24px;  
      width: 16px;  
  }  
  #style-rtfbN.style-rtfbN {  
     max-width: 100%;  
      max-height: 100%;  
  }  
  #style-JQ7c5.style-JQ7c5 {  
     transition-duration: 0.15s;  
  }  
  #style-RlMG3.style-RlMG3 {  
     height: 24px;  
  }  
  #style-rsPKV.style-rsPKV {  
     height: 24px;  
  }  
  #style-qgrNB.style-qgrNB {  
     height: 24px;  
  }  
  #style-Innoe.style-Innoe {  
     background-color: rgb(255, 255, 255);  
      transition-duration: 0.15s;  
  }  
  #style-S7QsE.style-S7QsE {  
     background-color: rgb(255, 255, 255);  
      transition-duration: 0.15s;  
  }  
  #style-Q7N8C.style-Q7N8C {  
     transition-duration: 0.15s;  
  }  
  #style-LLPND.style-LLPND {  
     --rating-size: 24px;  
  }  
  #style-coz1p.style-coz1p {  
     transition-duration: 0.15s;  
  }  
  #style-6Bnr2.style-6Bnr2 {  
     --rating-size: 24px;  
  }  
  #style-ac3Kc.style-ac3Kc {  
     transition-duration: 0.15s;  
  }  
  #style-4aHIv.style-4aHIv {  
     --rating-size: 24px;  
  }  
  