//Created by CTT

extends layout

block content
    h3=title
    div.table-responsive
        form(action='querydr', method='POST')
            div.form-group
                label Mã giao dịch (vnp_TxnRef)
                div
                input.form-control(name='orderId' placeholder='txnRef',style='border: 1px solid #ccc; padding: 10px; font-size: 16px;')
            div.form-group
                label Thời gian tạo giao dịch (vnp_TransactionDate)
                div
                input.form-control(name='transDate', placeholder='yyyyMMddHHmmss',style='border: 1px solid #ccc; padding: 10px; font-size: 16px;')
            button.btn.btn-default(type='submit', style='background:cyan;border: 1px solid #ccc; padding: 10px; padding-left:25px;padding-right:25px;font-size: 15px;margin:25px') QueryDr
