@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap'); 
  body {  
    font-size:0.875rem;
    line-height:1.25rem;
    font-family:'Roboto',sans-serif;
    color:#333333;
  }  
body { 
/* CSS Variables that may have been missed get put on body */ 
    --divider-gap:  14px;  
    --divider-border-style:  solid;  
    --divider-color:  rgba(0 ,0 ,0);  
    --divider-border-width:  2px;  
} 

* { 
    box-sizing: border-box;
} 

html { 
    scroll-behavior: smooth;
} 

html { 
    margin: 0; 
    padding: 0; 
    border: 0;
} 

html { 
    margin: 0px; 
    padding: 0px; 
    border: 0px;
} 

*,:before,:after { 
    box-sizing: border-box;
} 

.css-dniawc { 
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; 
    font-size: 0.875rem; 
    font-weight: 400; 
    line-height: 1.5; 
    color: rgb(33, 37, 41); 
    background-color: rgb(255, 255, 255); 
    text-size-adjust: 100%; 
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
} 

.css-1lajzmx { 
    min-height: 100vh; 
    overflow: hidden;
} 

.css-1lajzmx { 
    background-image: url(https://lh3.googleusercontent.com/kpDsLe18_il0kAAr_Pq5bzopEEI1cpwmz04lQoQCO_5JJnQs2WT-rJnGKSpOkiJZMCbvFMILNxQ7_P5ypx_C7bbRuL8lSEY=w1920); 
    -webkit-background-position: inherit; 
    background-position: inherit; 
    background-repeat: no-repeat; 
    -webkit-background-size: cover; 
    background-size: cover; 
    background-repeat-x: no-repeat; 
    background-repeat-y: no-repeat;
} 

.css-qx2qqp { 
    position: absolute; 
    width: 0px; 
    height: 0px;
} 

.css-1jxwdvq { 
    width: 100%; 
    margin-right: auto; 
    margin-left: auto;
} 

@media (min-width: 1440px){ 
  .css-1jxwdvq { 
    max-width: 100%;
  } 
}     

.css-1jxwdvq { 
    padding-top: 0px; 
    padding-bottom: 0px; 
    padding-left: 0px; 
    padding-right: 0px;
} 

.css-1jrix3a { 
    width: 100%; 
    margin-right: auto; 
    margin-left: auto;
} 

@media (min-width: 1440px){ 
  .css-1jrix3a { 
    max-width: 100%;
  } 
}     

.css-1jrix3a { 
    padding-top: 8px; 
    padding-bottom: 8px; 
    padding-left: 16px; 
    padding-right: 16px;
} 

.css-158k0ov { 
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    z-index: 1000; 
    overflow: auto;
} 

.css-158k0ov.hide { 
    display: none;
} 

@media (min-width: 768px){ 
  .hidden-md { 
    display: none!important;
  } 

  .hidden-md { 
    display: none !important;
  } 
}     

.css-1klnydi { 
    -webkit-align-items: flex-start; 
    -webkit-box-align: flex-start; 
    -ms-flex-align: flex-start; 
    align-items: flex-start;
} 

.css-1klnydi { 
    min-height: inherit; 
    height: 100%;
} 

.css-1klnydi.teko-row { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    -webkit-box-flex-flow: row wrap; 
    -webkit-flex-flow: row wrap; 
    -ms-flex-flow: row wrap; 
    flex-flow: row wrap;
} 

@media (min-width: 1024px){ 
  .css-1klnydi.teko-row { 
    -webkit-box-pack: center; 
    -ms-flex-pack: center; 
    -webkit-justify-content: center; 
    justify-content: center;
  } 
}     

.css-1klnydi.teko-row:before,.css-1klnydi.teko-row:after { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex;
} 

.css-eu37z5 { 
    -webkit-align-items: flex-start; 
    -webkit-box-align: flex-start; 
    -ms-flex-align: flex-start; 
    align-items: flex-start;
} 

.css-eu37z5 { 
    margin-left: auto!important; 
    margin-right: auto!important; 
    min-height: inherit; 
    height: 100%; 
    max-width: 1232px;
} 

.css-eu37z5.teko-row { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    -webkit-box-flex-flow: row wrap; 
    -webkit-flex-flow: row wrap; 
    -ms-flex-flow: row wrap; 
    flex-flow: row wrap;
} 

@media (min-width: 1024px){ 
  .css-eu37z5.teko-row { 
    -webkit-box-pack: center; 
    -ms-flex-pack: center; 
    -webkit-justify-content: center; 
    justify-content: center;
  } 
}     

.css-eu37z5.teko-row:before,.css-eu37z5.teko-row:after { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex;
} 

.css-17ibzjj { 
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    z-index: -1000;
} 

.css-17ibzjj { 
    background-color: #0000004a;
} 

.css-12q08s2 { 
    position: absolute!important; 
    z-index: 1050; 
    max-width: 100%; 
    min-height: 200px; 
    height: -webkit-max-content; 
    height: -moz-max-content; 
    height: max-content; 
    margin: auto; 
    left: 50%; 
    top: 100px!important; 
    bottom: unset!important; 
    -webkit-transform: translateX(-50%); 
    -moz-transform: translateX(-50%); 
    -ms-transform: translateX(-50%); 
    transform: translateX(-50%);
} 

.css-12q08s2 { 
    width: 400px; 
    border-radius: 12px; 
    background-color: #fff; 
    -webkit-background-size: cover; 
    background-size: cover; 
    padding-left: 16px; 
    padding-right: 16px; 
    padding-bottom: 16px; 
    padding-top: 16px;
} 

.css-8lyke9 { 
    position: fixed; 
    inset: 0px; 
    z-index: -1000;
} 

.css-8lyke9 { 
    background-color: rgba(0, 0, 0, 0.1);
} 

.css-19t7c3v { 
    z-index: 1050; 
    max-width: 100%; 
    min-height: 400px; 
    height: max-content; 
    margin: auto; 
    left: 50%; 
    transform: translateX(-50%); 
    position: absolute !important; 
    top: 100px !important; 
    bottom: unset !important;
} 

.css-19t7c3v { 
    width: 460px; 
    background-image: url("https://lh3.googleusercontent.com/lpfCOBmSoogKYPrspwtkO8lPHNiN7Xzqfwn_9VVUI7apkAfBoFUjwEYOJxOTr8dfEGn3xV1CY8ZBYhOgvc652EmX0vjNlzc4=w600"); 
    background-position: center center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    padding: 16px; 
    background-repeat-x: no-repeat; 
    background-repeat-y: no-repeat;
} 

.css-19t7c3v { 
    position: relative; 
    z-index: 0;
} 

.css-19t7c3v:before { 
    position: absolute; 
    inset: 0px; 
    content: ""; 
    background: rgb(0, 0, 0); 
    border-radius: inherit; 
    z-index: -1; 
    opacity: 0.33;
} 

.css-1u2x8w9 { 
    -webkit-flex: 0 0 100%; 
    -ms-flex: 0 0 100%; 
    flex: 0 0 100%; 
    max-width: 100%!important;
} 

@media (min-width: 768px){ 
  .css-1u2x8w9 { 
    -webkit-flex: 0 0 100%; 
    -ms-flex: 0 0 100%; 
    flex: 0 0 100%; 
    max-width: 100%!important;
  } 
}     

.css-1u2x8w9.teko-col { 
    position: relative; 
    max-width: 100%; 
    min-height: 1px;
} 

.css-9my4e1 { 
    -webkit-flex: 0 0 100%; 
    -ms-flex: 0 0 100%; 
    flex: 0 0 100%; 
    max-width: 100%!important;
} 

@media (min-width: 768px){ 
  .css-9my4e1 { 
    -webkit-flex: 0 0 32%; 
    -ms-flex: 0 0 32%; 
    flex: 0 0 32%; 
    max-width: 32%!important;
  } 
}     

.css-9my4e1.teko-col { 
    position: relative; 
    max-width: 100%; 
    min-height: 1px;
} 

.css-1h1qh4p { 
    -webkit-flex: 0 0 100%; 
    -ms-flex: 0 0 100%; 
    flex: 0 0 100%; 
    max-width: 100%!important;
} 

@media (min-width: 768px){ 
  .css-1h1qh4p { 
    -webkit-flex: 0 0 68%; 
    -ms-flex: 0 0 68%; 
    flex: 0 0 68%; 
    max-width: 68%!important;
  } 
}     

.css-1h1qh4p.teko-col { 
    position: relative; 
    max-width: 100%; 
    min-height: 1px;
} 

.css-73p2ms { 
    position: absolute; 
    right: 10px; 
    top: 8px; 
    cursor: pointer; 
    z-index: 1;
} 

.css-gdjjhc { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    -webkit-flex-direction: column; 
    -ms-flex-direction: column; 
    flex-direction: column; 
    -webkit-box-pack: start; 
    -ms-flex-pack: start; 
    -webkit-justify-content: flex-start; 
    justify-content: flex-start;
} 

.css-gdjjhc { 
    padding-left: 0px; 
    padding-top: 0px; 
    padding-bottom: 0px; 
    padding-right: 0px;
} 

.css-em4mod { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    -webkit-flex-direction: column; 
    -ms-flex-direction: column; 
    flex-direction: column; 
    -webkit-box-pack: start; 
    -ms-flex-pack: start; 
    -webkit-justify-content: flex-start; 
    justify-content: flex-start;
} 

.css-em4mod { 
    padding-left: 15px; 
    padding-top: 5px; 
    padding-bottom: 5px; 
    padding-right: 15px;
} 

.css-lglnud { 
    -webkit-background-size: cover; 
    background-size: cover;
} 

.css-15xqbfh { 
    -webkit-background-size: cover; 
    background-size: cover; 
    margin-top: 16px;
} 

.css-1sq3jq6 { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    width: 100%; 
    position: relative;
} 

.css-1sq3jq6 { 
    -webkit-box-pack: center; 
    -ms-flex-pack: center; 
    -webkit-justify-content: center; 
    justify-content: center; 
    margin-top: 16px;
} 

.css-1x1eqr6 { 
    margin-top: 0px;
} 

.css-1x1eqr6:hover { 
    border-color: rgb(255, 235, 59); 
    transform: scale(1.2);
} 

.css-dmvgks { 
    height: 24px; 
    width: 100%;
} 

.css-ku5g5w { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    width: 100%;
} 

a { 
    color: #0d6efd; 
    -webkit-text-decoration: underline; 
    text-decoration: underline;
} 

a { 
    color: #0d6efd; 
    -webkit-text-decoration: none; 
    text-decoration: none;
} 

a { 
    margin: 0; 
    padding: 0; 
    border: 0;
} 

a { 
    color: rgb(13, 110, 253); 
    text-decoration: none;
} 

a { 
    margin: 0px; 
    padding: 0px; 
    border: 0px;
} 

a:hover { 
    color: #024dbc;
} 

a:hover { 
    color: rgb(2, 77, 188);
} 

h2 { 
    margin-top: 0; 
    margin-bottom: 0.5rem; 
    font-weight: 500; 
    line-height: 1.3;
} 

h2 { 
    font-size: calc(1.325rem + 0.9vw);
} 

@media (min-width: 1200px){ 
  h2 { 
    font-size: 2rem;
  } 
}     

.css-1q0vk5q { 
    text-align: center;
} 

.css-1cbefbu { 
    display: grid; 
    grid-template-columns: repeat(2, auto); 
    column-gap: 15px; 
    height: calc(100% + 15px); 
    margin-bottom: -15px;
} 

.css-rndg96 { 
    --divider-gap: 14px; 
    display: flex; 
    padding-top: var(--divider-gap); 
    padding-bottom: var(--divider-gap);
} 

.css-k9febg { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    -webkit-flex-direction: row; 
    -ms-flex-direction: row; 
    flex-direction: row; 
    -webkit-box-flex-wrap: wrap; 
    -webkit-flex-wrap: wrap; 
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap; 
    width: 100%;
} 

.css-k9febg { 
    -webkit-flex-direction: column; 
    -ms-flex-direction: column; 
    flex-direction: column; 
    gap: 8px; 
    -webkit-box-flex-wrap: nowrap; 
    -webkit-flex-wrap: nowrap; 
    -ms-flex-wrap: nowrap; 
    flex-wrap: nowrap; 
    -webkit-align-items: center; 
    -webkit-box-align: center; 
    -ms-flex-align: center; 
    align-items: center;
} 

.css-15xqbfh :not(.ProseMirror-trailingBreak):empty::after { 
    content: ""; 
    display: inline-block;
} 
.css-a4gxdq { 
    position: relative; 
    border: none; 
    -webkit-align-items: center; 
    -webkit-box-align: center; 
    -ms-flex-align: center; 
    align-items: center; 
    -webkit-text-decoration: none; 
    text-decoration: none; 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    cursor: pointer; 
    -webkit-box-pack: center; 
    -ms-flex-pack: center; 
    -webkit-justify-content: center; 
    justify-content: center; 
    font-size: 14px; 
    line-height: 16px; 
    background: transparent;
} 

.css-a4gxdq { 
    color: rgba(255, 255, 255, 1); 
    height: 32px; 
    width: 120px; 
    border-radius: 999px; 
    background-color: rgba(37, 141, 255, 1); 
    -webkit-background-size: cover; 
    background-size: cover;
} 


.css-mu2c3r { 
    max-width: 100%; 
    display: inline-block; 
    transition: transform 0.3s ease 0s; 
    overflow: hidden; 
    position: relative; 
    object-fit: cover;
} 

.css-mu2c3r { 
    width: 34%; 
    border-radius: 0%;
} 

.css-mu2c3r:before { 
    z-index: 1;
} 

.css-n4ghns { 
    max-width: 100%; 
    display: inline-block; 
    transition: transform 0.3s ease 0s; 
    overflow: hidden; 
    position: relative; 
    object-fit: cover;
} 

.css-n4ghns { 
    width: 60%; 
    border-radius: 0%; 
    margin-top: -20px;
} 

.css-n4ghns:before { 
    z-index: 1;
} 

.css-18ew6ki { 
    --divider-border-style: solid; 
    --divider-color: rgba(0 ,0 ,0); 
    --divider-border-width: 2px; 
    display: flex; 
    width: 75%; 
    border-top: var(--divider-border-width) var(--divider-border-style) var(--divider-color); 
    margin: 0px auto;
} 

.css-14aralt :not(.ProseMirror-trailingBreak):empty::after { 
    content: ""; 
    display: inline-block;
} 

.css-1b1l8d8 { 
    max-width: 100%; 
    display: inline-block; 
    -webkit-transition: -webkit-transform 0.3s; 
    transition: transform 0.3s; 
    overflow: hidden; 
    position: relative; 
    object-fit: cover;
} 

.css-1b1l8d8 { 
    width: 100%;
} 

.css-1b1l8d8:before { 
    z-index: 1;
} 

.css-1v1ekmn { 
    max-width: 100%; 
    display: inline-block; 
    -webkit-transition: -webkit-transform 0.3s; 
    transition: transform 0.3s; 
    overflow: hidden; 
    position: relative; 
    object-fit: cover;
} 

.css-1v1ekmn { 
    width: 100%; 
    border-radius: 0%;
} 

.css-1v1ekmn:before { 
    z-index: 1;
} 

.css-qiail1 { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    width: 100%; 
    position: relative;
} 

.css-qiail1 { 
    -webkit-box-pack: center; 
    -ms-flex-pack: center; 
    -webkit-justify-content: center; 
    justify-content: center;
} 

.css-mt0m42 { 
    max-width: 100%; 
    display: inline-block; 
    -webkit-transition: -webkit-transform 0.3s; 
    transition: transform 0.3s; 
    overflow: hidden; 
    position: relative; 
    object-fit: cover;
} 

.css-mt0m42 { 
    width: 100%; 
    border-radius: 0%;
} 

.css-mt0m42:before { 
    z-index: 1;
} 

.css-1n11eo { 
    background-position: inherit; 
    background-repeat: no-repeat; 
    background-size: cover; 
    padding-bottom: 5px; 
    background-repeat-x: no-repeat; 
    background-repeat-y: no-repeat;
} 

.css-a4gxdq > span  { 
    font-size: inherit; 
    line-height: inherit;
} 

.css-157jl91 { 
    position: absolute; 
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0; 
    overflow: hidden; 
    z-index: 0; 
    border-radius: inherit;
} 

.css-a4gxdq :not(.ProseMirror-trailingBreak):empty::after { 
    content: ""; 
    display: inline-block;
} 
.css-fj9uxg { 
    width: 100%; 
    height: 100%; 
    border-radius: inherit; 
    object-fit: inherit;
} 

.css-13eq0u { 
    margin-bottom: 15px; 
    display: flex;
} 

.css-ko26s3 { 
    overflow: hidden;
} 

.css-ko26s3 { 
    height: 32px;
} 

.css-5wr1g2 { 
    overflow: hidden;
} 

.css-5wr1g2 { 
    height: 32px; 
    -webkit-flex-direction: column; 
    -ms-flex-direction: column; 
    flex-direction: column;
} 

.css-123jlnj { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    -webkit-box-flex-wrap: wrap; 
    -webkit-flex-wrap: wrap; 
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap; 
    overflow: hidden;
} 

.css-123jlnj { 
    -webkit-flex-direction: column; 
    -ms-flex-direction: column; 
    flex-direction: column;
} 

.css-1is5g1a { 
    position: relative; 
    border: none; 
    -webkit-align-items: center; 
    -webkit-box-align: center; 
    -ms-flex-align: center; 
    align-items: center; 
    -webkit-text-decoration: none; 
    text-decoration: none; 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    cursor: pointer; 
    -webkit-box-pack: center; 
    -ms-flex-pack: center; 
    -webkit-justify-content: center; 
    justify-content: center; 
    font-size: 14px; 
    line-height: 16px; 
    background: transparent;
} 

.css-1is5g1a { 
    border-radius: 4px; 
    color: rgba(255, 255, 255, 1); 
    height: 40px; 
    width: 200px; 
    background-color: rgba(37, 141, 255, 1);
} 

@media (min-width: 767px){ 
  .css-9jos3s { 
    display: none;
  } 
}     

.css-4xt86l { 
    position: relative; 
    display: inline-block; 
    width: 100%; 
    min-width: 100%; 
    color: rgba(0, 0, 0, 0.85); 
    height: 100%; 
    padding: 0 0.5rem; 
    border-style: solid; 
    border-color: rgb(238, 238, 238); 
    border-width: 1px;
} 

.css-4xt86l { 
    border-radius: 4px; 
    border-color: rgba(33,150,243,1); 
    border-width: 2px;
} 

.css-4xt86l:placeholder-shown { 
    text-overflow: ellipsis;
} 

select { 
    margin: 0; 
    font-family: inherit; 
    font-size: inherit; 
    line-height: inherit;
} 

select { 
    text-transform: none;
} 

select { 
    word-wrap: normal;
} 

select { 
    margin: 0px; 
    color: inherit; 
    font-size: inherit; 
    font-family: inherit; 
    line-height: inherit;
} 

select { 
    margin: 0px; 
    font-family: inherit; 
    font-size: inherit; 
    line-height: inherit;
} 

select { 
    overflow-wrap: normal;
} 


.css-s9104b { 
    vertical-align: middle; 
    margin-bottom: 0;
} 

.css-1is5g1a > span  { 
    font-size: inherit; 
    line-height: inherit;
} 

.css-1is5g1a :not(.ProseMirror-trailingBreak):empty::after { 
    content: ""; 
    display: inline-block;
} 

.css-szvxgw { 
    border-radius: 4px; 
    border-color: rgba(33,150,243,1); 
    border-width: 2px;
} 

.css-1t6ocra { 
    margin-left: 0.25rem; 
    vertical-align: middle;
} 

.css-1u375hk .swiper-container  { 
    margin-left: auto; 
    margin-right: auto; 
    position: relative; 
    overflow: hidden; 
    list-style: none; 
    padding: 0px;
} 

.css-1sjt6s8 { 
    position: relative; 
    border: none; 
    -webkit-box-align: center; 
    align-items: center; 
    text-decoration: none; 
    display: flex; 
    cursor: pointer; 
    -webkit-box-pack: center; 
    justify-content: center; 
    font-size: 14px; 
    line-height: 16px; 
    background: transparent;
} 

.css-1sjt6s8 { 
    border-radius: 999px; 
    color: rgb(255, 255, 255); 
    height: 32px; 
    width: 120px; 
    background: rgb(37, 141, 255);
} 

[data-rmiz] { 
    position: relative;
} 

.css-1u375hk .swiper-button-prev  { 
    position: absolute; 
    top: 50%; 
    z-index: 10; 
    cursor: pointer; 
    display: flex; 
    -webkit-box-align: center; 
    align-items: center; 
    -webkit-box-pack: center; 
    justify-content: center; 
    width: 44px; 
    height: 44px; 
    margin-top: -22px; 
    opacity: 0;
} 

.css-1u375hk .swiper-button-prev  { 
    left: 0px; 
    right: auto; 
    border-top-right-radius: 100px; 
    border-bottom-right-radius: 100px; 
    background-color: rgba(168, 168, 168, 0.46);
} 

 .css-1u375hk:hover .swiper-button-prev { 
    opacity: 1;
} 

.css-1u375hk .swiper-button-next  { 
    position: absolute; 
    top: 50%; 
    z-index: 10; 
    cursor: pointer; 
    display: flex; 
    -webkit-box-align: center; 
    align-items: center; 
    -webkit-box-pack: center; 
    justify-content: center; 
    width: 44px; 
    height: 44px; 
    margin-top: -22px; 
    opacity: 0;
} 

.css-1u375hk .swiper-button-next  { 
    right: 0px; 
    left: auto; 
    border-top-left-radius: 100px; 
    border-bottom-left-radius: 100px; 
    background-color: rgba(168, 168, 168, 0.46);
} 

.css-1u375hk:hover .swiper-button-next, .css-1u375hk:hover .swiper-button-prev { 
    opacity: 1;
} 

.css-1u375hk .swiper-pagination  { 
    position: absolute; 
    text-align: center; 
    transform: translate3d(0px, 0px, 0px); 
    z-index: 10;
} 

.css-1u375hk .swiper-pagination-bullets  { 
    bottom: 10px; 
    left: 0px; 
    width: 100%;
} 

.css-1u375hk .swiper-wrapper  { 
    position: relative; 
    height: 100%; 
    display: flex; 
    transition-property: transform; 
    box-sizing: content-box; 
    flex-wrap: nowrap;
} 

.css-1u375hk .swiper-button-prev.swiper-button-disabled  { 
    opacity: 0; 
    cursor: auto; 
    pointer-events: auto;
} 

 .css-1u375hk:hover .swiper-button-prev.swiper-button-disabled { 
    opacity: 0.35;
} 

.css-1sjt6s8 > span  { 
    font-size: inherit; 
    line-height: inherit;
} 

.css-1sjt6s8 :not(.ProseMirror-trailingBreak):empty::after { 
    content: ""; 
    display: inline-block;
} 

.css-1u375hk:hover .swiper-button-next.swiper-button-disabled, .css-1u375hk:hover .swiper-button-prev.swiper-button-disabled { 
    opacity: 0.35;
} 

[data-rmiz-ghost] { 
    position: absolute; 
    pointer-events: none;
} 

strong { 
    font-weight: bolder;
} 

strong { 
    margin: 0; 
    padding: 0; 
    border: 0;
} 

strong { 
    margin: 0px; 
    padding: 0px; 
    border: 0px;
} 

.css-1u375hk .swiper-slide  { 
    flex-shrink: 0; 
    height: 100%; 
    position: relative; 
    transition-property: transform;
} 

.css-1u375hk .swiper-pagination-bullet  { 
    width: 8px; 
    height: 8px; 
    display: inline-block; 
    border-radius: 100%; 
    background: rgb(221, 221, 221); 
    margin: 0px 4px; 
    cursor: pointer;
} 

.css-1u375hk .swiper-pagination-bullet-active  { 
    background: rgb(37, 141, 255); 
    border-radius: 0.75rem; 
    width: 24px;
} 

.css-og6le1 { 
    max-width: 100%; 
    display: inline-block; 
    transition: transform 0.3s ease 0s; 
    overflow: hidden; 
    position: relative; 
    object-fit: cover;
} 

.css-og6le1 { 
    display: block;
} 

.css-og6le1:before { 
    z-index: 1;
} 

.css-88ahb7 { 
    position: relative; 
    width: 100%; 
    padding: 16px; 
    display: flex; 
    flex-direction: column; 
    background-color: transparent;
} 

.css-1msex0n { 
    position: relative; 
    flex: 1 0 auto; 
    margin-bottom: 8px;
} 

.css-13gmder { 
    position: relative; 
    margin-bottom: 4px;
} 

.css-1kbost9 { 
    height: 2rem;
} 

.css-1mt9t7s { 
    position: relative; 
    margin-top: 4px;
} 

.css-ogiby0 { 
    font-size: 12px; 
    line-height: 16px; 
    overflow: hidden; 
    display: -webkit-box; 
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 2; 
    color: rgb(67, 70, 87); 
    font-weight: 400;
} 

.css-q5pnen { 
    display: flex; 
    flex-direction: column; 
    -webkit-box-align: start; 
    align-items: start;
} 

.css-1teacjm { 
    color: rgb(235, 31, 58); 
    font-weight: 700; 
    text-decoration: unset; 
    font-size: 15px; 
    line-height: 24px;
} 

.css-3mjppt { 
    display: flex; 
    height: 1rem;
} 

.css-180wlrm { 
    text-align: center; 
    display: inline-block; 
    overflow: hidden; 
    position: absolute; 
    height: 100%; 
    inset: 0px;
} 

.css-14url2 { 
    text-decoration: line-through; 
    color: rgb(130, 134, 158); 
    font-weight: 400; 
    font-size: 12px; 
    line-height: 16px;
} 

.css-1xitxmf { 
    max-width: 100%; 
    display: inline-block; 
    transition: transform 0.3s ease 0s; 
    overflow: hidden; 
    position: relative; 
    object-fit: cover;
} 

.css-1xitxmf { 
    object-fit: contain; 
    height: 100%; 
    width: 100%;
} 

.css-1xitxmf:before { 
    z-index: 1;
} 


/* These were inline style tags. Uses id+class to override almost everything */
#style-L4c12.style-L4c12 {  
   z-index: 3050;  
}  
#style-e4RNV.style-e4RNV {  
   color: rgb(255, 255, 255);  
    font-size: 18px;  
    display: inline-block;  
    width: 18px;  
    height: 18px;  
    -webkit-mask-size: contain;  
    -webkit-mask-repeat: no-repeat;  
    -webkit-mask-position: center center;  
    vertical-align: middle;  
}  
#style-4tzQj.style-4tzQj {  
   text-decoration: none;  
    color: unset;  
    cursor: pointer;  
}  
#style-TPaCc.style-TPaCc {  
   visibility: visible;  
}  
#style-jzQ4R.style-jzQ4R {  
   height: 0px;  
    left: 0px;  
    width: 0px;  
    top: 0px;  
}  
#style-4rcNw.style-4rcNw {  
   text-decoration: none;  
    color: unset;  
    cursor: pointer;  
}  
#style-HxbpQ.style-HxbpQ {  
   visibility: visible;  
}  
#style-oH2WV.style-oH2WV {  
   height: 0px;  
    left: 0px;  
    width: 0px;  
    top: 0px;  
}  
#style-eJwj7.style-eJwj7 {  
   text-decoration: none;  
    color: unset;  
    cursor: pointer;  
}  
#style-7QYQM.style-7QYQM {  
   visibility: visible;  
}  
#style-FezLf.style-FezLf {  
   height: 0px;  
    left: 0px;  
    width: 0px;  
    top: 0px;  
}  
#style-Pks3r.style-Pks3r {  
   text-decoration: none;  
    color: unset;  
    cursor: pointer;  
}  
#style-lonBg.style-lonBg {  
   visibility: visible;  
}  
#style-obXot.style-obXot {  
   height: 0px;  
    left: 0px;  
    width: 0px;  
    top: 0px;  
}  
#style-ZXf5a.style-ZXf5a {  
   z-index: 3050;  
}  
#style-8zKkc.style-8zKkc {  
   color: rgb(255, 255, 255);  
    font-size: 18px;  
    display: inline-block;  
    width: 18px;  
    height: 18px;  
    -webkit-mask-size: contain;  
    -webkit-mask-repeat: no-repeat;  
    -webkit-mask-position: center center;  
    vertical-align: middle;  
    -webkit-mask-image: url("data:image/svg+xml,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.81304 5.75263C6.52015 5.45974 6.04528 5.45974 5.75238 5.75263C5.45949 6.04552 5.45949 6.5204 5.75238 6.81329L10.8789 11.9398L5.75241 17.0663C5.45952 17.3592 5.45952 17.8341 5.75241 18.127C6.0453 18.4199 6.52018 18.4199 6.81307 18.127L11.9396 13.0005L17.0661 18.127C17.359 18.4199 17.8339 18.4199 18.1268 18.127C18.4196 17.8341 18.4196 17.3592 18.1268 17.0663L13.0002 11.9398L18.1268 6.81329C18.4197 6.5204 18.4197 6.04552 18.1268 5.75263C17.8339 5.45974 17.359 5.45974 17.0661 5.75263L11.9396 10.8792L6.81304 5.75263Z' fill='%2382869E'/%3e%3c/svg%3e");  
    background: rgb(255, 255, 255);  
}  
#style-B3gp7.style-B3gp7 {  
   text-decoration: none;  
    color: unset;  
    cursor: pointer;  
}  
#style-fJGdJ.style-fJGdJ {  
   visibility: visible;  
}  
#style-ofSbh.style-ofSbh {  
   height: 0px;  
    left: 0px;  
    width: 0px;  
    top: 0px;  
}  
#style-92KqW.style-92KqW {  
   text-decoration: none;  
    color: unset;  
    cursor: pointer;  
}  
#style-dKVCv.style-dKVCv {  
   visibility: visible;  
}  
#style-dxm6Y.style-dxm6Y {  
   height: 0px;  
    left: 0px;  
    width: 0px;  
    top: 0px;  
}  
#style-Ywstx.style-Ywstx {  
   text-decoration: none;  
    color: unset;  
    cursor: pointer;  
}  
#style-7oxEk.style-7oxEk {  
   visibility: visible;  
}  
#style-evgri.style-evgri {  
   height: 0px;  
    left: 0px;  
    width: 0px;  
    top: 0px;  
}  
#style-fCkbo.style-fCkbo {  
   text-decoration: none;  
    color: unset;  
    cursor: pointer;  
}  
#style-1z4Cg.style-1z4Cg {  
   visibility: visible;  
}  
#style-gsabG.style-gsabG {  
   height: 0px;  
    left: 0px;  
    width: 0px;  
    top: 0px;  
}  
#style-8h1AN.style-8h1AN {  
   width: 50%;  
}  
#style-GQhbN.style-GQhbN {  
   width: 50%;  
}  
#style-mGFsD.style-mGFsD {  
   width: 50%;  
}  
#style-ZYLo4.style-ZYLo4 {  
   width: 50%;  
}  
#style-8WPwo.style-8WPwo {  
   color: rgb(153, 153, 153);  
}  
#style-nSjlQ.style-nSjlQ {  
   width: 50%;  
}  
#style-nBMJn.style-nBMJn {  
   display: flex;  
    align-items: center;  
}  
#style-AM9Vi.style-AM9Vi {  
   display: flex;  
    align-items: center;  
}  
#style-l2vHF.style-l2vHF {  
   margin-left: 8px;  
}  
#style-mkasP.style-mkasP {  
   text-decoration: none;  
    color: unset;  
    cursor: pointer;  
}  
#style-zKOfo.style-zKOfo {  
   text-decoration: none;  
    color: unset;  
    cursor: pointer;  
}  
#style-lHB2g.style-lHB2g {  
   text-decoration: none;  
    color: unset;  
    cursor: pointer;  
}  
#style-7oF2h.style-7oF2h {  
   text-decoration: none;  
    color: unset;  
    cursor: pointer;  
}  
#style-pv7zx.style-pv7zx {  
   transition-duration: 0ms;  
}  
#style-61tjX.style-61tjX {  
   left: 0px;  
}  
#style-5rxWo.style-5rxWo {  
   position: relative;  
    padding-bottom: 100%;  
}  
#style-zSKfX.style-zSKfX {  
   left: 0px;  
}  
#style-RWiBe.style-RWiBe {  
   position: relative;  
    padding-bottom: 100%;  
}  
#style-YaixR.style-YaixR {  
   left: 0px;  
}  
#style-VDc7d.style-VDc7d {  
   position: relative;  
    padding-bottom: 100%;  
}  
#style-6xsHJ.style-6xsHJ {  
   left: 0px;  
}  
#style-CEznh.style-CEznh {  
   position: relative;  
    padding-bottom: 100%;  
}  
#style-ZZD46.style-ZZD46 {  
   left: 0px;  
    width: 202px;  
}  
#style-okba4.style-okba4 {  
   position: relative;  
    padding-bottom: 100%;  
}  
#style-5mIaP.style-5mIaP {  
   left: 0px;  
    width: 202px;  
}  
#style-aGxDf.style-aGxDf {  
   position: relative;  
    padding-bottom: 100%;  
}  
#style-s7qDp.style-s7qDp {  
   left: 0px;  
    width: 202px;  
}  
#style-VSVa2.style-VSVa2 {  
   position: relative;  
    padding-bottom: 100%;  
}  
#style-CE1TU.style-CE1TU {  
   left: 0px;  
    width: 202px;  
}  
#style-Aawti.style-Aawti {  
   position: relative;  
    padding-bottom: 100%;  
}  
#style-lxcIW.style-lxcIW {  
   left: 0px;  
    width: 202px;  
}  
#style-QCjWN.style-QCjWN {  
   position: relative;  
    padding-bottom: 100%;  
}  
#style-5dkBq.style-5dkBq {  
   text-decoration: none;  
    color: unset;  
    cursor: pointer;  
}  
#style-NsAUQ.style-NsAUQ {  
   margin-left: 8px;  
}  
#style-oOyQN.style-oOyQN {  
   text-decoration: none;  
    color: unset;  
    cursor: pointer;  
}  
#style-gNEkA.style-gNEkA {  
   transition-duration: 0ms;  
}  
#style-Fx8ek.style-Fx8ek {  
   left: 0px;  
}  
#style-pXUkz.style-pXUkz {  
   position: relative;  
    padding-bottom: 100%;  
}  
#style-YGMbl.style-YGMbl {  
   left: 0px;  
}  
#style-rb9iz.style-rb9iz {  
   position: relative;  
    padding-bottom: 100%;  
}  
#style-e7WDd.style-e7WDd {  
   left: 0px;  
}  
#style-VVoao.style-VVoao {  
   position: relative;  
    padding-bottom: 100%;  
}  
#style-ywqa6.style-ywqa6 {  
   left: 0px;  
}  
#style-Xasw2.style-Xasw2 {  
   position: relative;  
    padding-bottom: 100%;  
}  
#style-gow4b.style-gow4b {  
   left: 0px;  
    width: 202px;  
}  
#style-58TWY.style-58TWY {  
   position: relative;  
    padding-bottom: 100%;  
}  
#style-5PM4G.style-5PM4G {  
   left: 0px;  
    width: 202px;  
}  
#style-UDGOh.style-UDGOh {  
   position: relative;  
    padding-bottom: 100%;  
}  
#style-3A6Zp.style-3A6Zp {  
   left: 0px;  
    width: 202px;  
}  
#style-r6hh9.style-r6hh9 {  
   position: relative;  
    padding-bottom: 100%;  
}  
#style-HZEox.style-HZEox {  
   left: 0px;  
    width: 202px;  
}  
#style-yOU5x.style-yOU5x {  
   position: relative;  
    padding-bottom: 100%;  
}  
#style-1t3Cm.style-1t3Cm {  
   left: 0px;  
    width: 202px;  
}  
#style-gWkDk.style-gWkDk {  
   position: relative;  
    padding-bottom: 100%;  
}  
#style-oIqLl.style-oIqLl {  
   text-decoration: none;  
    color: unset;  
    cursor: pointer;  
}  
#style-moGwT.style-moGwT {  
   margin-left: 8px;  
}  
#style-5IEGl.style-5IEGl {  
   text-decoration: none;  
    color: unset;  
    cursor: pointer;  
}  
#style-iJcKQ.style-iJcKQ {  
   transition-duration: 0ms;  
}  
#style-5tecD.style-5tecD {  
   left: 0px;  
}  
#style-KC8lF.style-KC8lF {  
   position: relative;  
    padding-bottom: 100%;  
}  
#style-bMhhi.style-bMhhi {  
   left: 0px;  
}  
#style-2ezce.style-2ezce {  
   position: relative;  
    padding-bottom: 100%;  
}  
#style-6obNP.style-6obNP {  
   left: 0px;  
}  
#style-JfKpG.style-JfKpG {  
   position: relative;  
    padding-bottom: 100%;  
}  
#style-oqsGa.style-oqsGa {  
   left: 0px;  
}  
#style-4I8lc.style-4I8lc {  
   position: relative;  
    padding-bottom: 100%;  
}  
#style-ao6hz.style-ao6hz {  
   left: 0px;  
    width: 202px;  
}  
#style-siaxA.style-siaxA {  
   position: relative;  
    padding-bottom: 100%;  
}  
#style-nwMCF.style-nwMCF {  
   left: 0px;  
    width: 202px;  
}  
#style-gjcvW.style-gjcvW {  
   position: relative;  
    padding-bottom: 100%;  
}  
#style-rXXUs.style-rXXUs {  
   left: 0px;  
    width: 202px;  
}  
#style-pfwEh.style-pfwEh {  
   position: relative;  
    padding-bottom: 100%;  
}  
#style-RXoOZ.style-RXoOZ {  
   left: 0px;  
    width: 202px;  
}  
#style-VbHqB.style-VbHqB {  
   position: relative;  
    padding-bottom: 100%;  
}  
#style-n2UVD.style-n2UVD {  
   left: 0px;  
    width: 202px;  
}  
#style-swzfK.style-swzfK {  
   position: relative;  
    padding-bottom: 100%;  
}  
#style-MKKsX.style-MKKsX {  
   text-decoration: none;  
    color: unset;  
    cursor: pointer;  
}  
#style-eYaLR.style-eYaLR {  
   margin-left: 8px;  
}  
#style-tamZt.style-tamZt {  
   text-decoration: none;  
    color: unset;  
    cursor: pointer;  
}  
#style-5B9Il.style-5B9Il {  
   transition-duration: 0ms;  
}  
#style-x4Xl5.style-x4Xl5 {  
   left: 0px;  
}  
#style-LkEdL.style-LkEdL {  
   position: relative;  
    padding-bottom: 100%;  
}  
#style-4HZ1N.style-4HZ1N {  
   left: 0px;  
}  
#style-UfEn6.style-UfEn6 {  
   position: relative;  
    padding-bottom: 100%;  
}  
#style-y149N.style-y149N {  
   left: 0px;  
}  
#style-YYgP9.style-YYgP9 {  
   position: relative;  
    padding-bottom: 100%;  
}  
#style-vCXBa.style-vCXBa {  
   left: 0px;  
}  
#style-TtPxM.style-TtPxM {  
   position: relative;  
    padding-bottom: 100%;  
}  
#style-8Z9js.style-8Z9js {  
   left: 0px;  
    width: 202px;  
}  
#style-gPM27.style-gPM27 {  
   position: relative;  
    padding-bottom: 100%;  
}  
#style-WBz88.style-WBz88 {  
   left: 0px;  
    width: 202px;  
}  
#style-KpAIo.style-KpAIo {  
   position: relative;  
    padding-bottom: 100%;  
}  
#style-O3e2C.style-O3e2C {  
   left: 0px;  
    width: 202px;  
}  
#style-dcD4y.style-dcD4y {  
   position: relative;  
    padding-bottom: 100%;  
}  
#style-Pp74g.style-Pp74g {  
   left: 0px;  
    width: 202px;  
}  
#style-E6Ztd.style-E6Ztd {  
   position: relative;  
    padding-bottom: 100%;  
}  
#style-hrzoC.style-hrzoC {  
   left: 0px;  
    width: 202px;  
}  
#style-1sJQ3.style-1sJQ3 {  
   position: relative;  
    padding-bottom: 100%;  
}  
#style-9Gi9v.style-9Gi9v {  
   text-decoration: none;  
    color: unset;  
    cursor: pointer;  
}  
#style-Fvr7Z.style-Fvr7Z {  
   margin-left: 8px;  
}  
#style-kjVxU.style-kjVxU {  
   text-decoration: none;  
    color: unset;  
    cursor: pointer;  
}  
#style-hUitK.style-hUitK {  
   transition-duration: 0ms;  
}  
#style-ahQFn.style-ahQFn {  
   left: 0px;  
}  
#style-I4Fgp.style-I4Fgp {  
   position: relative;  
    padding-bottom: 100%;  
}  
#style-N6b9i.style-N6b9i {  
   left: 0px;  
}  
#style-hbafU.style-hbafU {  
   position: relative;  
    padding-bottom: 100%;  
}  
#style-sxERi.style-sxERi {  
   left: 0px;  
}  
#style-RdZ2W.style-RdZ2W {  
   position: relative;  
    padding-bottom: 100%;  
}  
#style-Dx6Oz.style-Dx6Oz {  
   left: 0px;  
}  
#style-cQBPM.style-cQBPM {  
   position: relative;  
    padding-bottom: 100%;  
}  
#style-lh7Dj.style-lh7Dj {  
   left: 0px;  
    width: 202px;  
}  
#style-loqhq.style-loqhq {  
   position: relative;  
    padding-bottom: 100%;  
}  
#style-aDOso.style-aDOso {  
   left: 0px;  
    width: 202px;  
}  
#style-b2eIo.style-b2eIo {  
   position: relative;  
    padding-bottom: 100%;  
}  
#style-Bfc3f.style-Bfc3f {  
   left: 0px;  
    width: 202px;  
}  
#style-1ImKX.style-1ImKX {  
   position: relative;  
    padding-bottom: 100%;  
}  
#style-xD2Mz.style-xD2Mz {  
   left: 0px;  
    width: 202px;  
}  
#style-56qiI.style-56qiI {  
   position: relative;  
    padding-bottom: 100%;  
}  
#style-HVUje.style-HVUje {  
   left: 0px;  
    width: 202px;  
}  
#style-lzFI9.style-lzFI9 {  
   position: relative;  
    padding-bottom: 100%;  
}  
#style-zZtho.style-zZtho {  
   text-decoration: none;  
    color: unset;  
    cursor: pointer;  
}  
#style-M3fXk.style-M3fXk {  
   margin-left: 8px;  
}  
#style-hAJPq.style-hAJPq {  
   z-index: 1050;  
}  
#style-Z175F.style-Z175F {  
   color: rgb(33, 150, 243);  
    text-align: center;  
}  
#style-775Cx.style-775Cx {  
   margin-left: 8px;  
}  
