@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.css-27abj6 {
  position: relative;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.css-cssveg {
  position: relative;
}

*,
:before,
:after {
  box-sizing: border-box;
}

.css-d00g6r {
  padding-right: 16px;
  padding-left: 16px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
  max-width: 1232px;
}

@media (min-width: 1440px) {
  .css-d00g6r {
    width: 1232px;
  }
}
@media screen and (max-width: 767px) {
  .teko-col {
    display: contents;
  }
  .css-18c0ysw {
    width: 100%;
  }
  .snipcss0-4-99-155 {
    width: 100%;
  }
  .snipcss0-4-99-168 {
    width: 100%;
  }
}

.css-q0e31u {
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.css-q0e31u.teko-row {
  display: flex;
  flex-flow: wrap;
}

@media (min-width: 1024px) {
  .css-q0e31u.teko-row {
    -webkit-box-pack: center;
    justify-content: center;
  }
}

.css-q0e31u.teko-row:before,
.css-q0e31u.teko-row:after {
  display: flex;
}
ss-gr7r8o2.teko-col-4 .css-gr7r8o2 {
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
}

.css-gr7r8o2.teko-col {
  position: relative;
  max-width: 100%;
  min-height: 1px;
}

.css-gr7r8o2.teko-col-8 {
  flex: 0 0 66.66%;
  max-width: 66.66%;
}

.css-gr7r8o2.teko-col-4 {
  flex: 0 0 33.33%;
  max-width: 33.33%;
}

.css-svl62k {
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  position: relative;
}

.css-18c0ysw {
  border-style: none;
  border-radius: 0.5rem;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
  background-color: rgb(255, 255, 255);
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
}

.css-t9nop0 {
  width: 100%;
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
  padding: 1rem;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  position: relative;
}

.css-1dmv21i {
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.css-1dmv21i.teko-row {
  display: flex;
  flex-flow: wrap;
}

@media (min-width: 1024px) {
  .css-1dmv21i.teko-row {
    -webkit-box-pack: center;
    justify-content: center;
  }
}

.css-1dmv21i.teko-row-start {
  -webkit-box-pack: start;
  justify-content: flex-start;
}

.css-1dmv21i.teko-row-middle {
  -webkit-box-align: center;
  align-items: center;
}

.css-1dmv21i.teko-row:before,
.css-1dmv21i.teko-row:after {
  display: flex;
}

.css-14xqo9c {
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  position: relative;
  margin-bottom: 16px;
  padding: 16px;
}

.css-1realo9 {
  display: flex;
  margin: 0px 0px 0.5rem;
  padding: 0px;
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
  color: inherit;
  font-weight: 500;
  text-decoration: unset;
  font-size: 13px;
  line-height: 24px;
  overflow: hidden;

  -webkit-box-orient: vertical;
  -webkit-line-clamp: unset;
  max-width: unset;
  min-width: unset;
  transition: color 0.3s ease 0s;
}

.css-boqvfl {
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
  margin-left: 2rem;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.css-1arb6mh {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  line-height: unset;
  cursor: pointer;
  list-style: none;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
}

.css-1os8pr0 {
  margin: 0px 0px 0px 0.5rem;
  padding: 0px;
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
  color: inherit;
  font-weight: 500;
  text-decoration: unset;
  font-size: 13px;
  line-height: 20px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: unset;
  max-width: unset;
  min-width: unset;
  transition: color 0.3s ease 0s;
}

.css-1pnc6ez {
  background-color: rgb(255, 255, 255);
  padding: 1.25rem;
  border-radius: 8px;
}

.css-nqz8bu {
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
  position: relative;
  height: 100%;
}

.css-icxbs1 {
  border-style: solid;
  border-radius: 0.25rem;
  border-width: 1px;
  opacity: 1;
  height: 40px;
  padding: 0rem 0.75rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  border-color: rgb(224, 224, 224);
}

.css-80kmv8 {
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 2rem;
}

.css-80kmv8.teko-row {
  display: flex;
  flex-flow: wrap;
}

@media (min-width: 1024px) {
  .css-80kmv8.teko-row {
    -webkit-box-pack: center;
    justify-content: center;
  }
}
.table-borderless > :not(caption) > * > * {
  border: 0;
}

.css-80kmv8.teko-row-start {
  -webkit-box-pack: start;
  justify-content: flex-start;
}

.css-80kmv8.teko-row:before,
.css-80kmv8.teko-row:after {
  display: flex;
}

.css-l24w9c {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
}

.css-1euuut5 {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 0.5rem;
}

.css-9op68y {
  margin-bottom: 1rem;
}

.css-1o3gs9x2 {
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
}

.css-1o3gs9x2.teko-row {
  display: flex;
  flex-flow: wrap;
}

.css-1o3gs9x2.teko-row-no-wrap {
  flex-wrap: nowrap;
}

.css-1o3gs9x2.teko-row-space-between {
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.css-1o3gs9x2.teko-row:before,
.css-1o3gs9x2.teko-row:after {
  display: flex;
}

.css-516rdm {
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  position: relative;
}

.css-1sf42cy {
  position: relative;
  display: flex;
  -webkit-box-align: stretch;
  align-items: stretch;
  overflow: scroll hidden;
  width: 100%;
  border-bottom: 1px solid rgb(228, 229, 240);
}

.css-1sf42cy:after {
  content: " ";
  height: 2px;
  background-color: rgb(20, 53, 195);
  display: inline-block;
  position: absolute;
  transition: all 0.2s ease-out 0s;
  bottom: 0px;
  left: 0px;
  width: 137px;
}

.css-1sf42cy:-webkit-scrollbar {
  display: none;
}

.css-qoufv0 {
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
  padding: 1rem;
}

input {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input {
  overflow: visible;
}

.css-1acir1a {
  background-color: inherit;
}

.css-icxbs1 input {
  flex: 1 1 0%;
  width: 100%;
  border: none;
  font-size: 13px;
  color: rgb(67, 70, 87);
}

.css-1p6ero0 {
  margin: 0px 0px 0.5rem;
  padding: 0px;
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
  color: inherit;
  font-weight: 700;
  text-decoration: unset;
  font-size: 20px;
  line-height: 28px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: unset;
  max-width: unset;
  min-width: unset;
  transition: color 0.3s ease 0s;
}

.css-kgtmqg {
  margin: 0px;
  padding: 0px;
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
  color: rgb(130, 134, 158);
  font-weight: 400;
  text-decoration: unset;
  font-size: 13px;
  line-height: 20px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: unset;
  max-width: unset;
  min-width: unset;
  transition: color 0.3s ease 0s;
}

.css-gr7r8o2.teko-col-6 {
  display: block;
  flex: 0 0 50%;
  max-width: 50%;
}

.css-lc01j1 {
  position: absolute;
  inset: 0px;
  z-index: 1;
  width: 16px;
  height: 16px;
  margin: auto;
  cursor: pointer;
  opacity: 0;
}

.css-gfk8lf {
  position: absolute;
  inset: 0px;
  width: 16px;
  height: 16px;
  margin: auto;
  border: 1px solid rgb(228, 229, 240);
  border-radius: 2px;
  background-color: rgb(255, 255, 255);
}

h5 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.3;
}

h5 {
  font-size: 1.25rem;
}

.css-1euuut5 h5 {
  margin: 0px;
}

.css-1euuut5 a {
  text-decoration: none;
}

a:hover {
  color: #024dbc;
}

.css-ov1ktg {
  display: flex;
}

@media (min-width: 1024px) {
  .css-1o3gs9x2.teko-row {
    -webkit-box-pack: center;
    justify-content: center;
  }
}

.css-1ftlvw7 {
  padding: 0.5rem 1rem;
  cursor: pointer;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  background-color: white;
  flex-direction: row;
}

.css-2ojplc {
  margin: 0px;
  padding: 0px 0px 0.75rem 0.75rem;
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
  color: inherit;
  font-weight: 500;
  text-decoration: unset;
  font-size: 13px;
  line-height: 24px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: unset;
  max-width: unset;
  min-width: unset;
  transition: color 0.3s ease 0s;
}

.css-1v9diph {
  display: -webkit-box;
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
  margin-bottom: 1rem;
  padding-left: 2rem;
}

.css-1v9diph.teko-row:before,
.css-1v9diph.teko-row:after {
  display: flex;
}

.css-23r92r {
  margin: 0px;
  padding: 0.75rem 0px 0px 0.75rem;
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
  color: inherit;
  font-weight: 500;
  text-decoration: unset;
  font-size: 13px;
  line-height: 24px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: unset;
  max-width: unset;
  min-width: unset;
  transition: color 0.3s ease 0s;
}

.css-8jjp45 {
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
  background-color: rgb(255, 255, 255);
  padding-top: 0.75rem;
  padding-right: 0.75rem;
  padding-left: 2rem;
}

.css-1014eaz {
  border-radius: 4px;
  display: inline-block;
  user-select: none;
  border: 1px solid rgb(20, 53, 195);
  background-color: rgb(255, 255, 255);
  padding: 0.5rem 1.25rem;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  width: 100%;
}

.css-64rk53 {
  border-radius: 4px;
  display: inline-block;
  user-select: none;
  border: 1px solid rgb(224, 224, 224);
  background-color: rgb(255, 255, 255);
  padding: 0.5rem 1.25rem;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  width: 100%;
}

.css-64rk53:hover {
  background: rgb(243, 243, 243);
}

svg {
  vertical-align: middle;
}

.css-u5ggi9 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.css-f0vs3e {
  flex: 1 1 0%;
  margin-left: 1rem;
}

.css-1xjc5z {
  margin-left: 3rem;
}

.css-1p7f0pr {
  margin: 0px;
  padding: 0px;
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
  color: rgb(18, 48, 176);
  font-weight: 700;
  text-decoration: unset;
  font-size: 15px;
  line-height: 24px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: unset;
  max-width: unset;
  min-width: unset;
  transition: color 0.3s ease 0s;
}

.css-nouyrl {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.css-12xhfzh {
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
  margin-top: 1.5rem;
}

.css-1o722s0 {
  margin: 0px;
  padding: 0px;
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
  color: rgb(20, 53, 195);
  font-weight: 500;
  text-decoration: unset;
  font-size: 13px;
  line-height: 24px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  max-width: unset;
  min-width: unset;
  transition: color 0.3s ease 0s;
}

.css-17vwvsa {
  margin: 0px;
  padding: 0px;
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
  color: rgb(130, 134, 158);
  font-weight: 400;
  text-decoration: unset;
  font-size: 13px;
  line-height: 20px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  max-width: unset;
  min-width: unset;
  transition: color 0.3s ease 0s;
}

.css-1sdgxih {
  display: block;
  margin-bottom: 8px;
  margin-right: unset;
}

.css-17vlref {
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
  padding-bottom: 0.75rem;
}

.css-qat15y {
  margin: 0px;
  padding: 0px;
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
  color: inherit;
  font-weight: 700;
  text-decoration: unset;
  font-size: 15px;
  line-height: 24px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: unset;
  max-width: unset;
  min-width: unset;
  transition: color 0.3s ease 0s;
}

.css-ngriz3 {
  margin: 0.25rem 0px 0px;
  padding: 0px;
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
  color: rgb(130, 134, 158);
  font-weight: 500;
  text-decoration: unset;
  font-size: 13px;
  line-height: 20px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: unset;
  max-width: unset;
  min-width: unset;
  transition: color 0.3s ease 0s;
}

.css-9o8e5m {
  margin: 0px;
  padding: 0px;
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
  color: inherit;
  font-weight: 500;
  text-decoration: unset;
  font-size: 13px;
  line-height: 20px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: unset;
  max-width: unset;
  min-width: unset;
  transition: color 0.3s ease 0s;
}

.css-18wywdr {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0px 36px 36px 0px;
  border-color: transparent rgb(20, 53, 195) transparent transparent;
}

.css-mpv07g {
  display: flex;
  position: absolute;
  top: -1px;
  right: -1px;
  z-index: 0;
}

.css-17nqxzh {
  max-width: 100%;
  position: relative;
  overflow: hidden;
  flex: 1 0 auto;
  display: flex;
  cursor: unset;
  z-index: 0;
  margin: auto;
  border-radius: 4px;
  border: 1px solid rgb(224, 224, 224);
  width: 80px;
  content-visibility: auto;
  height: 80px !important;
}

.css-587jha {
  color: unset;
  -webkit-text-decoration: unset;
  text-decoration: unset;
}

.css-1qm2d75 {
  margin: 0px;
  padding: 0px;
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
  color: rgb(130, 134, 158);
  font-weight: 400;
  text-decoration: unset;
  font-size: 12px;
  line-height: 16px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: unset;
  max-width: unset;
  min-width: unset;
  transition: color 0.3s ease 0s;
}

.css-7ofbab {
  width: max-content;
  display: inline-block;
  font-weight: bold;
}

.css-1vptl7o {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
}

.css-1fmlnyw {
  display: flex;
  background: rgb(255, 255, 255);
  cursor: pointer;
  margin: 0.5rem 0px;
}

.css-10md8qb {
  margin: 0px 0px 0px 0.25rem;
  padding: 0px;
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
  color: inherit;
  font-weight: 400;
  text-decoration: unset;
  font-size: 13px;
  line-height: 20px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  max-width: unset;
  min-width: unset;
  transition: color 0.3s ease 0s;
}

table {
  caption-side: bottom;
  border-collapse: collapse;
}

.css-qc9cbn {
  width: 100%;
}

.css-b2d3vz {
  font-size: 14px;
  color: rgb(132, 135, 136);
  margin-top: 4px;
  text-align: center;
}

button {
  border-radius: 0;
}

button {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  overflow: visible;
}

button {
  text-transform: none;
}

button {
  -webkit-appearance: button;
}

.css-v463h2 {
  cursor: pointer;
  border-radius: 4px;
  overflow: hidden;
  line-height: 1rem;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(20, 53, 195);
  border-color: rgb(20, 53, 195);
  color: rgb(255, 255, 255);
  border-width: 1px;
  border-style: solid;
  user-select: none;
  text-decoration: none;
  flex-direction: row;
  position: relative;
  width: 100%;
  padding: 0.7rem 1rem;
  margin-top: 1rem;
}

.css-162xo41 {
  opacity: 1;
  height: 2.5rem;
  padding: 0rem 1.25rem;
  border-radius: 0.25rem;
  background-color: transparent;
  border: 1px solid rgb(228, 229, 240);
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  outline: none;
  min-width: 2.5rem;
  width: 100%;
  cursor: pointer;
  transition-duration: 80ms;
  transition-property: background-color;
}

.css-162xo41:hover {
  border-color: rgb(130, 134, 158);
}

.css-un3w91 {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
}

.css-15s76qs {
  border-style: solid;
  border-radius: 0.25rem;
  border-width: 1px;
  opacity: 1;
  height: 40px;
  padding: 0rem 0.75rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  border-color: rgb(246, 246, 246);
  background-color: rgb(246, 246, 246);
  overflow: hidden;
}

.css-17vlref .input-container {
  background-color: rgb(255, 255, 255);
}

.css-l4bwcr {
  margin: 0px;
  padding: 0px;
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
  color: rgb(67, 70, 87);
  font-weight: 400;
  text-decoration: unset;
  font-size: 13px;
  line-height: 20px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  max-width: unset;
  min-width: unset;
  transition: color 0.3s ease 0s;
}

.css-l4bwcr:hover {
  color: rgb(20, 53, 195);
}

.css-p2smad {
  width: max-content;
  display: inline-block;
  text-decoration: line-through;
  color: rgb(130, 134, 158);
  font-size: 0.75rem;
}

.css-1axx38a {
  display: flex;
  -webkit-box-align: start;
  align-items: start;
  height: fit-content;
  width: fit-content;
}

.css-5j9p1n {
  flex: 1 1 0%;
  font-size: 0.75rem;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 0.5rem;
  text-decoration: none;
}

.css-1gcn5cj {
  margin: 0px;
  padding: 0px 0px 0px 0.5rem;
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
  color: inherit;
  font-weight: 500;
  text-decoration: unset;
  font-size: 15px;
  line-height: 24px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: unset;
  max-width: unset;
  min-width: unset;
  transition: color 0.3s ease 0s;
}

.css-1pnc6ez .ellipsis {
  -webkit-line-clamp: 1;
}

.css-1lqe6yk {
  display: block;
  font-style: normal;
  font-size: 15px;
}

.css-1a6d6qm {
  display: inline-block;
  position: relative;
  width: 16px;
  min-width: 16px;
  height: 16px;
  margin-right: 8px;
}

.css-y582hb {
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
  margin-left: 0.25rem;
}

.css-y582hb.teko-row {
  display: flex;
  flex-flow: wrap;
}

@media (min-width: 1024px) {
  .css-y582hb.teko-row {
    -webkit-box-pack: center;
    justify-content: center;
  }
}

.css-y582hb.teko-row:before,
.css-y582hb.teko-row:after {
  display: flex;
}

.css-15s76qs input {
  flex: 1 1 0%;
  width: 100%;
  border: none;
  font-size: 13px;
  color: rgb(228, 229, 240);
}

.css-17vlref .input-container input {
  color: rgb(67, 70, 87);
  background-color: rgb(255, 255, 255);
}

.css-r4gk6s {
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
  height: 40px;
  margin-left: 0.25rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.css-1fh7f3v {
  opacity: 1;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  height: 1rem;
  border-radius: 0.25rem;
  border: unset;
  background-color: rgb(20, 53, 195);
}

img {
  vertical-align: middle;
}

.css-jdz5ak {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.5s ease 0s;
}

.css-xe0n85 {
  max-width: 100%;
  position: relative;
  overflow: hidden;
  flex: 1 0 auto;
  display: flex;
  cursor: unset;
  z-index: 0;
  margin: auto;
  border-radius: 2px;
  width: 16px;
  content-visibility: auto;
  height: 16px !important;
}

.css-7kp13n {
  display: inline-block;
}

.css-157jl91 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 0;
  border-radius: inherit;
}

.css-1cjp49c {
  position: absolute;
  inset: 0px;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}

.css-nyq1jm {
  position: absolute;
  inset: 0px;
  width: 100%;
  height: 100%;
  border: 1px solid rgb(20, 53, 195);
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
}

.css-gr7r8o2.teko-col-9 {
  display: block;
  flex: 0 0 75%;
  max-width: 75%;
}

.css-gr7r8o2.teko-col-3 {
  display: block;
  flex: 0 0 25%;
  max-width: 25%;
}

.css-7496ip {
  margin: 0px;
  padding: 0px;
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
  color: rgb(255, 255, 255);
  font-weight: 500;
  text-decoration: unset;
  font-size: 10px;
  line-height: 16px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  max-width: unset;
  min-width: unset;
  transition: color 0.3s ease 0s;
}

.css-8ogxmh {
  color: rgb(132, 135, 136);
  padding: 0px;
  text-align: left;
  vertical-align: top;
}

.css-qc9cbn td {
  line-height: 1;
}

.css-1xrkmkn {
  font-weight: 700;
  font-size: 14px;
  padding: 0px;
  text-align: right;
  vertical-align: top;
}

.css-13izjcd {
  color: rgb(132, 135, 136);
  padding: 0.85rem 0px 0px;
  text-align: left;
  vertical-align: top;
}

.css-fsu5pb {
  font-weight: 700;
  font-size: 14px;
  padding: 0.85rem 0px 0px;
  text-align: right;
  vertical-align: top;
}

.css-aafp0n {
  color: rgb(235, 33, 1);
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1;
  text-align: right;
  vertical-align: bottom;
  padding: 0px;
}

.css-1q6g407 {
  position: absolute;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  background-color: rgb(20, 53, 195);
}

.css-l6j2xj {
  margin: 0px;
  padding: 0px;
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
  color: rgb(67, 70, 87);
  font-weight: 500;
  text-decoration: unset;
  font-size: 13px;
  line-height: 20px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: unset;
  max-width: unset;
  min-width: unset;
  transition: color 0.3s ease 0s;
}

.css-k4o4bt {
  margin: 0px;
  padding: 0px;
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
  color: rgb(48, 205, 96);
  font-weight: 500;
  text-decoration: unset;
  font-size: 13px;
  line-height: 20px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: unset;
  max-width: unset;
  min-width: unset;
  transition: color 0.3s ease 0s;
}

.css-99sejg {
  display: flex;
  row-gap: 0.5rem;
  -webkit-box-align: center;
  align-items: center;
  flex-wrap: wrap;
}

.css-1777v {
  display: flex;
  flex-wrap: wrap;
  gap: 5px 3px;
}

/* These were inline style tags. Uses id+class to override almost everything */
#style-4Trly.style-4Trly {
  margin-left: -8px;
  margin-right: -8px;
}
#style-yXGc7.style-yXGc7 {
  padding-left: 8px;
  padding-right: 8px;
}
#style-1SOwC.style-1SOwC {
  margin-left: -8px;
  margin-right: -8px;
  row-gap: 16px;
}
#style-TbVir.style-TbVir {
  padding-left: 8px;
  padding-right: 8px;
}
#style-DNXoi.style-DNXoi {
  height: 100%;
}
#style-dDJTo.style-dDJTo {
  font-weight: bold;
  margin-right: 2px;
}
#style-mxWEU.style-mxWEU {
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
#style-1jXIS.style-1jXIS {
  padding-left: 8px;
  padding-right: 8px;
}
#style-i1x5Z.style-i1x5Z {
  color: rgb(132, 135, 136);
  min-height: 100px;
  flex-direction: column;
  height: 100%;
}
#style-h5gEx.style-h5gEx {
  margin-left: 0px;
}
#style-LJ5kv.style-LJ5kv {
  width: 100%;
}
#style-QtFJb.style-QtFJb {
  text-align: right;
}
#style-RRpB6.style-RRpB6 {
  margin-left: -8px;
  margin-right: -8px;
  row-gap: 16px;
}
#style-CCmWU.style-CCmWU {
  padding-left: 8px;
  padding-right: 8px;
}
#style-OdjZ8.style-OdjZ8 {
  height: 100%;
}
#style-9jvjF.style-9jvjF {
  padding-left: 5px;
}
#style-keAdr.style-keAdr {
  padding-left: 8px;
  padding-right: 8px;
}
#style-UMMoQ.style-UMMoQ {
  height: 100%;
}
#style-NANX3.style-NANX3 {
  padding-left: 5px;
}
#style-poooX.style-poooX {
  padding-left: 8px;
  padding-right: 8px;
}
#style-OQooy.style-OQooy {
  height: 100%;
}
#style-DJQy2.style-DJQy2 {
  padding-left: 5px;
}
#style-FJLy3.style-FJLy3 {
  padding-left: 8px;
  padding-right: 8px;
}
#style-Aggjr.style-Aggjr {
  flex: 1 1 0%;
}
#style-orm2K.style-orm2K {
  padding-top: 1rem;
}
#style-aUwfK.style-aUwfK {
  flex: 1 1 0%;
}
.mb-3-buy {
  --mdb-card-header-border-width: 2px;
  --mdb-card-header-border-color: whitesmoke;

  display: -webkit-box;
  border-bottom: var(--mdb-card-header-border-width) solid
    var(--mdb-card-header-border-color);
}
.nav-tabs-buy .nav-link-buy {
  border-radius: 0px;
}

/* 
 */
.css-gr7r8o {
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
}

.css-gr7r8o.teko-col {
  position: relative;
  max-width: 100%;
  min-height: 1px;
}

.css-1v9diph.teko-row:before,
.css-1v9diph.teko-row:after {
  display: flex;
}

.css-gr7r8o.teko-col-6 {
  display: block;
  flex: 0 0 50%;
  max-width: 50%;
}

.css-1014eaz {
  border-radius: 4px;
  display: inline-block;
  user-select: none;
  border: 1px solid rgb(20, 53, 195);
  background-color: rgb(255, 255, 255);
  padding: 0.5rem 1.25rem;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  width: 100%;
}

.css-162xo41 {
  opacity: 1;
  height: 2.5rem;
  padding: 0rem 1.25rem;
  border-radius: 0.25rem;
  background-color: transparent;
  border: 1px solid rgb(228, 229, 240);
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  outline: none;
  min-width: 2.5rem;
  width: 100%;
  cursor: pointer;
  transition-duration: 80ms;
  transition-property: background-color;
}

.css-162xo41:hover {
  border-color: rgb(130, 134, 158);
}

.css-18wywdr {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0px 36px 36px 0px;
  border-color: transparent rgb(20, 53, 195) transparent transparent;
}

.css-mpv07g {
  display: flex;
  position: absolute;
  top: -1px;
  right: -1px;
  z-index: 0;
}

svg {
  vertical-align: middle;
}

.css-7kp13n {
  display: inline-block;
}

.css-157jl91 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 0;
  border-radius: inherit;
}

/* These were inline style tags. Uses id+class to override almost everything */

#style-tofZn.style-tofZn {
  height: 100%;
}

#style-GqGe8.style-GqGe8 {
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
#style-Jlvl6.style-Jlvl6 {
  padding-left: 8px;
  padding-right: 8px;
}
#style-kRCXj.style-kRCXj {
  color: rgb(132, 135, 136);
  min-height: 100px;
  flex-direction: column;
  height: 100%;
}
#style-EqcsP.style-EqcsP {
  margin-left: 0px;
}
.radio {
  display: inline-grid;
  margin-right: 70%;
}
.email {
  display: inli;
  display: inline-grid;
  margin-right: 60%;
  margin-top: 20px;
}

.card-header {
  --mdb-card-header-border-width: 2px;
  --mdb-card-header-border-color: whitesmoke;
  border-bottom: none;
}

/* =--------------------- */
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");

.css-gr7r8o {
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
}

.css-gr7r8o.teko-col {
  position: relative;
  max-width: 100%;
  min-height: 1px;
}

.css-11tnwen {
  padding: 16px;
  background: rgb(248, 248, 252);
  border-radius: 8px;
  line-height: 24px;
}

*,
:before,
:after {
  box-sizing: border-box;
}

.css-1xehz2l {
  margin-top: 16px;
  width: 100%;
  padding-left: 12px;
}

.css-1hqpg {
  padding: 16px 16px 0px 0px;
  width: 100%;
}

.css-au5p93 {
  font-weight: 500;
  font-size: 13px;
}

.css-q55v4i {
  width: 30%;
  margin-left: -1px;
}

.css-1x5w71s {
  display: flex;
  flex-flow: wrap;
  padding-left: 16px;
}

.css-12bxpw5 {
  width: 100%;
}

.css-1sks6na {
  width: 100%;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  font-size: 13px;
  line-height: 24px;
}

.css-en0qru {
  width: 100%;
}

.css-43jsjt {
  visibility: hidden;
  z-index: 999;
}

.css-ff84vc {
  cursor: pointer;
  overflow: hidden;
  line-height: 1rem;
  -webkit-box-align: center;
  align-items: center;
  text-align: center;
  color: rgb(67, 70, 87);
  border-width: 1px;
  border-style: solid;
  user-select: none;
  text-decoration: none;
  flex-direction: row;
  position: relative;
  width: 100%;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 0.5rem;
  background-color: white;
  border-radius: 0.25rem;
  border-color: rgb(224, 224, 224);
}

.css-1x7vo2d {
  background-color: transparent;
  opacity: 0;
}

.css-un3w91 {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
}

.css-1wr4ueo {
  margin-left: 36px;
  margin-top: 4px;
}

.css-1denlqa {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.css-12bxpw5 button > span:first-child {
  flex: 1 1 0%;
  text-align: left;
}

.css-er4drj {
  -webkit-mask: url("https://shopfront-cdn.tekoapis.com/static/5a2fda8b57935427.svg")
    center center / contain no-repeat;
  mask: url("https://shopfront-cdn.tekoapis.com/static/5a2fda8b57935427.svg");
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: var(--button-icon-color, #757575);
  transition: transform 0.2s ease-in-out 0s;
  transform: rotate(180deg);
  position: relative;
  margin-left: 2px;
  -webkit-mask-repeat-x: no-repeat;
  -webkit-mask-repeat-y: no-repeat;
}

ul {
  padding-left: 2rem;
}

ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

.css-1ymolov {
  border-radius: 0.25rem;
  border: 1px solid rgb(224, 224, 224);
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  max-height: 200px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.08) 2px 2px 0.8rem 0px;
  overflow-y: auto;
}

.css-1a6d6qm {
  display: inline-block;
  position: relative;
  width: 16px;
  min-width: 16px;
  height: 16px;
  margin-right: 8px;
}

.css-1yyu6fw {
  margin-left: 0.75rem;
  font-size: 13px;
  font-weight: 500;
  line-height: 1;
}

.css-1fnfu41 {
  font-size: 0.875rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1 1 0%;
  margin-right: 0.25rem;
  text-align: left;
}

.css-zsmsql {
  padding: 0.6rem 0.8rem;
  font-size: 14px;
  color: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.css-zsmsql:hover {
  background-color: rgb(247, 247, 247);
  color: rgb(20, 53, 195);
  cursor: pointer;
}

.css-ip2e5w {
  padding: 0.6rem 0.8rem;
  font-size: 14px;
  background-color: rgb(247, 247, 247);
  color: rgb(20, 53, 195);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.css-ip2e5w:hover {
  background-color: rgb(247, 247, 247);
  color: rgb(20, 53, 195);
  cursor: pointer;
}

input {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input {
  overflow: visible;
}

.css-1cjp49c {
  position: absolute;
  inset: 0px;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}

.css-nyq1jm {
  position: absolute;
  inset: 0px;
  width: 100%;
  height: 100%;
  border: 1px solid rgb(20, 53, 195);
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
}

.css-1eud8hl {
  font-size: 0.8125rem;
  font-weight: 500;
  color: rgb(67, 70, 87);
  margin: 0px;
  line-height: 1;
}

.css-1ef6d5l {
  position: absolute;
  inset: 0px;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}

.css-1q3w26f {
  position: absolute;
  inset: 0px;
  width: 100%;
  height: 100%;
  border: 1px solid rgb(228, 229, 240);
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
}

.css-1q6g407 {
  position: absolute;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  background-color: rgb(20, 53, 195);
}

.css-j662fd {
  margin-bottom: 0.5rem;
}

.css-1mdu17v {
  position: absolute;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  background-color: rgb(20, 53, 195);
}

/* These were inline style tags. Uses id+class to override almost everything */
#style-F8tYz.style-F8tYz {
  position: absolute;
  inset: 0px auto auto 0px;
  width: 215.562px;
  transform: translate3d(43px, 116px, 0px);
}
#style-V8nJR.style-V8nJR {
  position: absolute;
  left: 0px;
  transform: translate3d(108px, 0px, 0px);
}
#style-R9YTz.style-R9YTz {
  margin-bottom: 12px;
}
#style-hxlik.style-hxlik {
  padding-left: 8px;
  padding-right: 8px;
}
#style-Jj6to.style-Jj6to {
  margin-bottom: 12px;
}
#style-y1k2b.style-y1k2b {
  padding-left: 8px;
  padding-right: 8px;
}
#style-H8Cjr.style-H8Cjr {
  margin-bottom: 12px;
}
#style-dwrd8.style-dwrd8 {
  padding-left: 8px;
  padding-right: 8px;
}
#style-CNont.style-CNont {
  margin-bottom: 12px;
}
#style-eGA26.style-eGA26 {
  padding-left: 8px;
  padding-right: 8px;
}
#style-Ed1mU.style-Ed1mU {
  margin-bottom: 12px;
}
#style-LFTP1.style-LFTP1 {
  padding-left: 8px;
  padding-right: 8px;
}
#style-HPgd2.style-HPgd2 {
  margin-bottom: 12px;
}
#style-dcaRg.style-dcaRg {
  padding-left: 8px;
  padding-right: 8px;
}
#style-Xt7gL.style-Xt7gL {
  margin-bottom: 12px;
}
#style-wkpDD.style-wkpDD {
  padding-left: 8px;
  padding-right: 8px;
}
#style-oIpVj.style-oIpVj {
  margin-bottom: 12px;
}
#style-sZmG5.style-sZmG5 {
  padding-left: 8px;
  padding-right: 8px;
}
/*  */
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");

.css-1g8ztiq {
  overflow-y: auto;
  height: 75vh;
  padding-right: 4px;
}

*,
:before,
:after {
  box-sizing: border-box;
}

.css-1g8ztiq:-webkit-scrollbar {
  width: 4px;
  background-color: rgb(245, 245, 245);
}

.css-1g8ztiq:-webkit-scrollbar-thumb {
  background-color: rgb(153, 153, 153);
}

.css-1g8ztiq:-webkit-scrollbar-track {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 6px inset;
  background-color: rgb(245, 245, 245);
}

.css-rztyxp {
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
  background-color: rgb(255, 255, 255);
  position: fixed;
  bottom: 24px;
  left: 0px;
  right: 24px;
  padding-top: 12px;
}

.css-rztyxp.teko-row {
  display: flex;
  flex-flow: wrap;
}

@media (min-width: 1024px) {
  .css-rztyxp.teko-row {
    -webkit-box-pack: center;
    justify-content: center;
  }
}

.css-rztyxp.teko-row-end {
  -webkit-box-pack: end;
  justify-content: flex-end;
}

.css-rztyxp.teko-row:before,
.css-rztyxp.teko-row:after {
  display: flex;
}

.css-hsl6pk {
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
  margin-bottom: 16px;
}

.css-hsl6pk.teko-row {
  display: flex;
  flex-flow: wrap;
}

@media (min-width: 1024px) {
  .css-hsl6pk.teko-row {
    -webkit-box-pack: center;
    justify-content: center;
  }
}

.css-kxydk6.teko-form-vertical .teko-form-item {
  flex-direction: column;
}

.css-hsl6pk.teko-row:before,
.css-hsl6pk.teko-row:after {
  display: flex;
}

.css-1o3gs9x {
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
}

.css-1o3gs9x.teko-row {
  display: flex;
  flex-flow: wrap;
}

@media (min-width: 1024px) {
  .css-1o3gs9x.teko-row {
    -webkit-box-pack: center;
    justify-content: center;
  }
}

.css-1o3gs9x.teko-row-space-between {
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.css-1o3gs9x.teko-row:before,
.css-1o3gs9x.teko-row:after {
  display: flex;
}

.css-f1fyi0 {
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
  --divider-gap: 12px;
  display: flex;
  padding-top: var(--divider-gap);
  padding-bottom: var(--divider-gap);
}

.css-3zo42j {
  margin: 0px;
  padding: 0px;
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
  color: inherit;
  font-weight: 700;
  text-decoration: unset;
  font-size: 20px;
  line-height: 28px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: unset;
  max-width: unset;
  min-width: unset;
  transition: color 0.3s ease 0s;
}

.css-1c33opk {
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
  margin-bottom: 0.5rem;
}

.css-1c33opk.teko-row {
  display: flex;
  flex-flow: wrap;
}

@media (min-width: 1024px) {
  .css-1c33opk.teko-row {
    -webkit-box-pack: center;
    justify-content: center;
  }
}

.css-1c33opk.teko-row-space-between {
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.css-1c33opk.teko-row:before,
.css-1c33opk.teko-row:after {
  display: flex;
}

.css-1o3gs9x.teko-row-end {
  -webkit-box-pack: end;
  justify-content: flex-end;
}

.css-uxjbk7 {
  opacity: 1;
  height: 2.5rem;
  padding: 0rem 1.25rem;
  border-radius: 0.25rem;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(20, 53, 195);
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  outline: none;
  min-width: 2.5rem;
  color: rgb(20, 53, 195);
  cursor: pointer;
  transition-duration: 80ms;
  transition-property: background-color;
}

.css-uxjbk7:hover {
  border-color: rgb(18, 48, 176);
}

.css-1yctiq5 {
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
  height: 2.5rem;
  margin-left: 0.5rem;
  padding: 0rem 1.25rem;
  border-radius: 0.25rem;
  background-color: rgb(20, 53, 195);
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  outline: none;
  min-width: 2.5rem;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition-duration: 80ms;
  transition-property: background-color;
}

.css-1yctiq5:hover {
  background-color: rgb(18, 48, 176);
}

.css-1mmulcy {
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
  text-align: right;
}

.css-1mmulcy.teko-col {
  position: relative;
  max-width: 100%;
  min-height: 1px;
}

.css-kxydk6.teko-form-vertical .teko-form-item .teko-form-item-label {
  text-align: left;
}

.css-10ikb73 {
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
}

.css-10ikb73.teko-col {
  position: relative;
  max-width: 100%;
  min-height: 1px;
}

.css-10ikb73.teko-form-item-control {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
}

.css-gr7r8o {
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
}

.css-gr7r8o.teko-col {
  position: relative;
  max-width: 100%;
  min-height: 1px;
}

.css-yae08c {
  --divider-border-style: solid;
  --divider-color: #e4e5f0;
  --divider-border-width: 1px;
  display: flex;
  width: 100%;
  border-top: var(--divider-border-width) var(--divider-border-style)
    var(--divider-color);
}

.css-ipuzb0 {
  margin: 0px;
  padding: 0px;
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
  color: rgb(20, 53, 195);
  font-weight: 400;
  text-decoration: unset;
  font-size: 13px;
  line-height: 20px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: unset;
  max-width: unset;
  min-width: unset;
  transition: color 0.3s ease 0s;
}

.css-uxjbk7:hover div[type="body"] {
  color: rgb(18, 48, 176);
}

.css-skbwuv {
  margin: 0px;
  padding: 0px;
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
  color: rgb(255, 255, 255);
  font-weight: 400;
  text-decoration: unset;
  font-size: 13px;
  line-height: 20px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: unset;
  max-width: unset;
  min-width: unset;
  transition: color 0.3s ease 0s;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.css-15ognui {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
}

.css-15ognui.teko-form-item-no-colon {
  margin-right: 8px;
}

.css-15ognui.teko-form-item-required:before {
  display: inline-block;
  margin-right: 4px;
  color: rgb(255, 77, 79);
  font-size: 12px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: "*";
}

.css-15ognui:after {
  content: ":";
  position: relative;
  top: -0.5px;
  margin: 0px 8px 0px 2px;
}

.css-15ognui.teko-form-item-no-colon:after {
  display: none;
}

.css-10ikb73.teko-form-item-control .teko-form-item-control-input {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.css-157jl91 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 0;
  border-radius: inherit;
}

.css-1ohipf9 {
  margin: 0px;
  padding: 0px;
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
  color: rgb(27, 29, 41);
  font-weight: 500;
  text-decoration: unset;
  font-size: 13px;
  line-height: 20px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: unset;
  max-width: unset;
  min-width: unset;
  transition: color 0.3s ease 0s;
}

.css-10ikb73.teko-form-item-control
  .teko-form-item-control-input
  .teko-form-item-control-input-content {
  flex: 1 1 auto;
  max-width: 100%;
}

.css-5xvlco {
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
}

.css-icxbs1 {
  border-style: solid;
  border-radius: 0.25rem;
  border-width: 1px;
  opacity: 1;
  height: 40px;
  padding: 0rem 0.75rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  border-color: rgb(224, 224, 224);
}

.css-1arb6mh {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  line-height: unset;
  cursor: pointer;
  list-style: none;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
}

.css-1acir1a {
  background-color: inherit;
}

.css-icxbs1 input {
  flex: 1 1 0%;
  width: 100%;
  border: none;
  font-size: 13px;
  color: rgb(67, 70, 87);
}

.css-l24w9c {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
}

.css-10md8qb {
  margin: 0px 0px 0px 0.25rem;
  padding: 0px;
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
  color: inherit;
  font-weight: 400;
  text-decoration: unset;
  font-size: 13px;
  line-height: 20px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  max-width: unset;
  min-width: unset;
  transition: color 0.3s ease 0s;
}

.css-cssveg {
  position: relative;
}

.css-1ezclw1 {
  position: absolute;
  animation-duration: 0.2s;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  visibility: hidden;
  transition: transform 0.3s ease 0s;
  background: transparent;
}

.css-lc01j1 {
  position: absolute;
  inset: 0px;
  z-index: 1;
  width: 16px;
  height: 16px;
  margin: auto;
  cursor: pointer;
  opacity: 0;
}

.css-gfk8lf {
  position: absolute;
  inset: 0px;
  width: 16px;
  height: 16px;
  margin: auto;
  border: 1px solid rgb(228, 229, 240);
  border-radius: 2px;
  background-color: rgb(255, 255, 255);
}

.css-cg6cr2 {
  background: rgb(255, 255, 255);
  height: 2.5rem;
  border-radius: 0.25rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  border: 1px solid rgb(228, 229, 240);
  overflow: hidden;
  cursor: pointer;
  user-select: none;
}

.css-cg6cr2:hover {
  border: 1px solid rgb(167, 171, 195);
}

.css-wds49r {
  height: 2.5rem;
  border-radius: 0.25rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  border: 1px solid rgb(228, 229, 240);
  overflow: hidden;
  user-select: none;
  cursor: not-allowed;
  background: rgb(246, 246, 246);
}

.css-wds49r:hover {
  border: 1px solid rgb(167, 171, 195);
}

svg {
  vertical-align: middle;
}

.css-u5ggi9 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.css-1nwnmq3 {
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
  width: 100%;
}

.css-1nwnmq3 .input-container {
  border-style: none !important;
}

.css-15s76qs {
  border-style: solid;
  border-radius: 0.25rem;
  border-width: 1px;
  opacity: 1;
  height: 40px;
  padding: 0rem 0.75rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  border-color: rgb(246, 246, 246);
  background-color: rgb(246, 246, 246);
  overflow: hidden;
}

.css-r4gk6s {
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
  height: 40px;
  margin-left: 0.25rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.css-15s76qs input {
  flex: 1 1 0%;
  width: 100%;
  border: none;
  font-size: 13px;
  color: rgb(228, 229, 240);
}

/* These were inline style tags. Uses id+class to override almost everything */
#style-HFi9o.style-HFi9o {
  height: 40px;
}
#style-kSbpZ.style-kSbpZ {
  flex: 0 0 49%;
}
#style-gDaoi.style-gDaoi {
  height: 40px;
}
#style-ZI6gN.style-ZI6gN {
  flex: 0 0 49%;
}
#style-MGwiV.style-MGwiV {
  height: 40px;
}
#style-Tgoyv.style-Tgoyv {
  flex: 0 0 49%;
}
#style-MvFDT.style-MvFDT {
  height: 40px;
}
#style-9gr1p.style-9gr1p {
  flex: 0 0 49%;
}
#style-EyAQH.style-EyAQH {
  height: 40px;
}
#style-AUdNr.style-AUdNr {
  flex: 0 0 49%;
}
#style-vhZwt.style-vhZwt {
  height: 40px;
}
#style-yGp84.style-yGp84 {
  flex: 0 0 49%;
}
#style-qMHr5.style-qMHr5 {
  height: 40px;
}
#style-8YjM4.style-8YjM4 {
  flex: 1 1 0%;
}
#style-HwLv4.style-HwLv4 {
  margin-top: 40px;
}
#style-EYzmt.style-EYzmt {
  margin-left: 0px;
}
#style-Oc3me.style-Oc3me {
  margin-left: 0px;
}
/* Style cho các khối sản phẩm */
.item {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

/* Style cho dấu tích */
.checkbox {
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  background-color: #fff;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  text-align: center;
  line-height: 20px;
  font-weight: bold;
  font-size: 18px;
  color: transparent;
}

/* Style cho dấu tích được chọn */
.item.selected .checkbox {
  background-color: #00f;
  color: #fff;
  border-color: #00f;
}

.btn-select-address {
  display: flex;
}

.btn-select-address span {
  font-weight: bold;
  margin-right: 2px;
}

.btn-select-address svg {
  cursor: pointer;
}

#style-tofZn {
  cursor: auto;
  border: 1px solid rgb(228, 228, 228);
  display: flex;
  flex-direction: column;
  justify-content: start;
}

#style-tofZn:hover {
  color: black;
  border-color: gray;
}

/* ---------------------- */
/* ADDRESS CUSTOM */

/* show address */
.address-group {
  width: 100%;
  height: max-content;
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Tạo 2 cột bằng nhau */
  gap: 20px; /* Khoảng cách giữa các biểu tượng */
  overflow: hidden;
}

/* add */
.address-add {
  width: 100%;
  height: 110px;
  overflow: hidden;
  border-radius: 3px;
  border: 1px solid gainsboro;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.address-add:hover {
  border: 1px solid rgba(128, 128, 128, 0.54);
}

/* show */
.address-show {
  position: relative;
  width: 100%;
  height: 110px;
  overflow: hidden;
  border-radius: 3px;
  border: 1px solid gainsboro;
}

.address-show-checked{
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background-color: #00f;
  display: flex;
  justify-content: end;
  align-items: start;
  clip-path: polygon(100% 0%, 0% 0%, 100% 100%);
}

.address-show-checked-icon{
  color: white;
  position: absolute;
  top: 5px;
  right: 5px;

}

.address-show:hover{
  border: 1px solid rgba(128, 128, 128);
}

.address-show:hover > .address-control{
  background-color: rgba(218, 217, 217);
}

.address-control {
  width: 100%;
  height: 100%;
  padding: 15px 20px;
  text-align: start;
  cursor: pointer;
  background-color: white;
}

.address-control-name span {
  font-weight: bold;
  margin-right: 2px;
}

.address-control .address-control-details {
  max-height: 2.6em;
  line-height: 1.3em;
  /* hien thi dau 3 cham toi hang thu 2 */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
