/* Home.css */
.slider-container {
  position: relative;
  display: flex;
  align-items: center;
}

.left-block {
  position: absolute;
  margin-left: 20px;
  transform: translateY(-50%);
  transition: width 0.3s ease;
  /* Hiệu ứng khi hover */
}

.category-list {
  list-style: none;
  padding: 20px;
  height: 400px;
  /* Độ rộng */
  background-color: #ffffff;
  /* Màu nền */
  border-radius: 10px;
  /* Bo góc */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  /* Hiển thị đổ bóng */
}

.category-item {
  margin-bottom: 10px;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  /* Hiệu ứng khi hover */
  position: relative;
  /* Đặt vị trí để làm việc với con trỏ chuột */

}

.category-item:hover {
  background-color: #ffffff;
  /* Màu nền khi hover */
}

.sub-category-list {
  list-style: none;
  padding: 0;
  display: none;
  position: absolute;
  /* Đặt vị trí tương đối */
  top: 0;
  /* Đặt top để nó hiển thị ở phía dưới */
  margin-left: 80px;
  background-color: #ffffff;
  /* Màu nền danh mục con */
  border-radius: 5px;
  /* Bo góc */
  width: 200px;
  /* Độ rộng danh mục con */
  padding: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  /* Hiển thị đổ bóng */

}

.category-item:hover .sub-category-list {
  display: block;
}

.right-block {
  position: absolute;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  /* Hiển thị các hình ảnh dọc */
  align-items: flex-end;
  /* Căn phải */
  padding: 20px;
}

.right-image {
  max-width: 90%;
  height: auto;
  transition: transform 0.3s ease;
  /* Thêm hiệu ứng chuyển đổi */
}

.right-image:hover {
  transform: scale(0.9);
  /* Khi hover vào, phóng to lên 1.2 lần */
}


// --- tab -----
.ant-tabs-tab-active {
  background-color: rgba(255, 255, 255, 0) !important;
  color: #ffffff;
}

.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: rgb(255, 255, 255) !important;
  /* Set the text color you want */
}

.ant-tabs-ink-bar {
  background-color: rgb(255, 255, 255) !important;
  /* Set the background color you want */
}

:where(.css-dev-only-do-not-override-17a39f8).ant-card .ant-card-body {
  padding: 5px !important;
  border-radius: 0 !important;
}

.card-sp {
  box-sizing: border-box;
  padding: 5px;
  margin: 5px;
  display: flex; // Sử dụng flex để tự động dãn theo chiều ngang
  flex-direction: column;
  width: 220px; // Giới hạn chiều rộng thẻ để tránh tên quá dài
  height: 300px;
  position: relative;
}

.name-card {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  margin-bottom: 8px;
}

.phone-group {
  position: relative;
  border-radius: 20px;
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  background-size: cover;
  background-image: url(https://lh3.googleusercontent.com/7Ir75Yug6lSI2YU2c2EqwwWpy6bMGX4RgX_MSQInk3aiBZThzQ_BRy-lADiOKFEOUh8eIFOeSjZzWANGmfV7zPyu23nOAcYt=w1232);
}

.phone-title {
  font-weight: bold;
  font-size: 25px;
  display: -webkit-box;
  padding: 20px 0px 0px 20px;
  color: white;
}

.scroll-group-phone {
  width: 98%;
  margin: 0 auto;
  overflow-x: hidden;
}

.scroll-control-phone::-webkit-scrollbar {
  display: none;
}

.scroll-control-phone {
  display: flex;
  overflow-x: auto;
  padding: 10px;
  white-space: nowrap;
  width: 100%;
  height: 100%;
  padding-right: 17px;
  scroll-behavior: smooth;
  /* Đảm bảo không bị tràn nội dung */
}

.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  text-align: center;
  background-color: #00000017;
  /* Màu nền của nút */
  border: none;
  height: 15%;
  width: 4%;
  transition: all 0.2s ease-in;
  color: black;
}

.scroll-button:hover {
  background-color: #0000005c;
}

#scroll-left-button {
  left: 0;
  border-top-right-radius:25px;
  border-bottom-right-radius: 25px;
}

#scroll-right-button {
  right: 0;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;

}