
.order-informations{
    width: 100%;
    min-height: 100vh;
    text-align: start;
    padding: 20px;
}

.order-informations-title{
    width: 100%;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}

#order-informations-title-btn{
    border: none;
    margin-right: 10px;
}

.order-informations-title h5{
    margin: 0;
}

/* content */
.order-informations-content{
    margin-top: 10px;
    font-size: 13px;
}
/* block 1 */
.order-informations-block-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 210px;
    overflow: hidden;
}

.order-informations-block-1 .block-1-1{
    background-color: white;
    border-radius: 5px;
    padding: 16px;
    width: 32%;
    height: 100%;
    font-weight: 600;
}

.order-informations-block-1 .block-1-1 p{
    margin: 0;
}

.order-informations-block-1 .block-1-1 span{
    font-weight: normal;
}

.order-informations-block-1 .block-1-1 .address{
    display: -webkit-box; 
    text-overflow: ellipsis; 
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 3; 
    overflow: hidden;
}

.order-informations-block-1 .block-1-2{
    background-color: white;
    border-radius: 5px;
    padding: 16px;
    width: 32%;
    height: 100%;
    font-weight: 600;
}

.order-informations-block-1 .block-1-2 span{
    font-weight: normal;
}

.order-informations-block-1 .block-1-3{
    background-color: white;
    overflow: auto;
    border-radius: 5px;
    padding: 16px;
    width: 32%;
    height: 100%;
    font-weight: 600;
}

.order-informations-block-1 .block-1-3 p{
    margin: 0;
}

.order-informations-block-1 .block-1-3 span{
    font-weight: normal;
}

/* block 2 */
.order-informations-block-2{
    margin-top: 16px;
    background-color: white;
    border-radius: 5px;
}

.order-informations-block-2 .block-2-title{
    padding: 16px 16px 0 16px;
}

/* block 3 */
.order-informations-block-3{
    margin: 16px 0;
    padding: 16px;
    background-color: white;
}

.order-informations-block-3 .block-2{
    text-align: end;
    color: #a6a4a4;
    margin: 4px 0 0;
}

.order-informations-block-3 .block-1{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.order-informations-block-3 .block-1 .sub{
    display: flex;
    justify-content: space-between;
    width: 300px;
    padding-top: 8px;
}

.order-informations-block-3 .block-1 .sub .price{
    font-weight: 600;
}

